@model IdentitySample.Models.LoginViewModel

@{
    Layout = null;

}

<h2>@ViewBag.Title.</h2>


<!DOCTYPE html>
<html>


<!-- Mirrored from webapplayers.com/inspinia_admin-v2.7.1/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Mar 2018 08:19:39 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEE | Login</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body style="background-image: url(/img/NewLogin.jpg); background-size: cover">

<div class=" " style="
    margin-top: 21%;
    margin-left: 41%;
" >
    <div class="row">
        <div class="col-md-4">
 

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-warning" })
                    <form class="m-t" role="form">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Nom Utilisateur" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-warning" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mot de Passe" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-warning" })
                        </div>
                     <center><button type="submit" class="btn btn-purplebee block full-width m-b">Se Connecter</button></center>   

                     <center>  <a href=@Url.Action("ForgotPassword","Account") style="color:#000000"><small>Mot de passe oublié ?</small></a></center>

</form>
                }
                                       
        </div>
    </div>
</div>

 

       
     
    <!-- Mainly scripts -->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

</body>
</html>
