@model BeeProj.ViewModels.KPIdashbordViewModel
@{
    ViewBag.Title = "EtatRecapitulatifDeFacturation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>EtatRecapitulatifDeFacturation</h2>*@



<link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="~/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
<link href="~/css/plugins/footable/footable.core.css" rel="stylesheet">
<link href="~/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
<link href="~/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="~/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

<!-- Ladda style -->
<link href="~/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
<!-- Toastr style -->
<link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<link href="~/css/plugins/c3/c3.min.css" rel="stylesheet">
<link href="~/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <br />
        <h3 class="text-black-50"><a href="@Url.Action("Index", "Dashboard")">Généralité KPI</a></h3>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboard")"><label class="text-success">Chiffre d’affaire,paiement et versement mensuel</label></a>
            </li>
            <li>
                <a href="@Url.Action("KPIs", "Dashboard")">@*>>*@<label class="text-success"> Etat mensuel des ventes</label></a>
            </li>
            <li>
                <a href="@Url.Action("EtatVenteParPoste", "Dashboard")">@*>>*@ <label class="text-success"> Etat mensuel des ventes par la Poste</label></a>
            </li>
            <li>
                <a href="@Url.Action("EtatMensuelPaiementPoste", "Dashboard")">@*>>*@ <label class="text-success"> Etat mensuel des paiements par la Poste</label> </a>
            </li>

        </ol>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboard")">@*>>*@  <label class="text-success"> Etat des ventes et paiement par point de vente</label> </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Dashboard")">@*>>*@ <label class="text-success"> Etat des impayés</label> </a>
            </li>
            <li>
                <a href="@Url.Action("EtatRecapitulatifDemandesEnCours", "Dashboard")">@*>>*@ <label class="text-success"> Etat récapitulatif des demandes en cours</label> </a>
            </li>
            <li>
                <a href="@Url.Action("EtatRecapitulatifDeFacturation", "Dashboard")">@*>>*@ <label class="text-success"> Etat récapitulatif de facturation</label> </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Dashboard")">@*>>*@ <label class="text-success"> Etat des paiements</label> </a>
            </li>
            <li>
                <a href="@Url.Action("BilanActivite", "Dashboard")">@*>>*@ <label class="text-success"> Bilan de l’activité</label> </a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">

            <div class="ibox">
                <div class="ibox-content" style="height:1000px">
                    <div class="row">
                        @using (Html.BeginForm("EtatRecapitulatifDeFacturation", "Dashboard", FormMethod.Post))
                        {
                            <div class="input-group">
                                <span class="text-purplebee">
                                    Du <strong>@Model.StartDate.GetValueOrDefault().ToString("dd/MM/yyyy")</strong>
                                    au <strong>@Model.EndDate.GetValueOrDefault().ToString("dd/MM/yyyy")</strong>
                                </span>
                                <div class="input-daterange input-group" id="datepicker">
                                    @Html.TextBoxFor(model => model.StartDate, new { type = "date", @class = "form-control" })
                                    <span class="input-group-addon">au </span>
                                    @Html.TextBoxFor(model => model.EndDate, new { type = "date", @class = "form-control" })
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-purplebee ladda-button ladda-button-demo">Filtrer</button>
                                    </span>
                                </div>

                            </div>

                        }
                    </div>

                    <div class="clients-list">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-4-1">Nombre et Montant des premiéres factures générées par PV émetteur</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-4-2">Nombre totale et Montant total des premiéres factures @*générées par PV émetteur  et par année*@ </a></li>
                            <li class="active"><a data-toggle="tab" href="#tab-4-3">Nombre et Montant des  factures générées par PV émetteur</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-4-4">Nombre totale et Montant total des factures générées @*par PV émetteur  et par année*@ </a></li>
                        </ul>

                        <div class="tab-content">
                            <!------------------------------------- Etat récapitulatif des demandes en cours  ----------------------------------->
                            <!--Nombre et Montant des premiéres factures générées par PV émetteur -->
                            <div id="tab-4-1" class="tab-pane active">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">

                                            <div class="ibox-content">
                                                <div class="ibox">
                                                    <div class="col-lg-12">
                                                        <canvas id="slineChart" height="80"></canvas>
                                                    </div>

                                                    <br />
                                                    <div class="ibox-content">

                                                        <h3 class="font-bold no-margins">
                                                            Nombre et Montant des premiéres factures générées par PV émetteur par mois et par année
                                                        </h3>

                                                        <div class="clients-list">
                                                            <ul class="nav nav-tabs">

                                                                @foreach (var item8 in ViewBag.demandeEtatRecapDeFacturation)
                                                                {
                                                                    <li class="bg-primary">
                                                                        <a data-toggle="tab" href="#Mois_@item8.GetType().GetProperty("Key").GetValue(item8)">
                                                                            <i class="fa fa-calendar"></i>@item8.GetType().GetProperty("Key").GetValue(item8)
                                                                        </a>
                                                                    </li>
                                                                }

                                                            </ul>
                                                            <div class="tab-content">

                                                                @foreach (var grouped8 in ViewBag.demandeEtatRecapDeFacturation)
                                                                {
                                                                    if (grouped8.GetType().GetProperty("Key").GetValue(grouped8) == 2020)
                                                                    {
                                                                        <div id="Mois_@grouped8.GetType().GetProperty("Key").GetValue(grouped8)"
                                                                             class="tab-pane active text-black-50">
                                                                            <div class="full-height-scroll">
                                                                                <div class="table-responsive">

                                                                                    <table class="table table-striped table-hover data datatable-style">

                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>Mois</th>
                                                                                                <th>PV</th>
                                                                                                <th>Pack</th>
                                                                                                <th colspan="2">Premières factures</th>

                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th> </th>
                                                                                                <th> </th>
                                                                                                <th> </th>
                                                                                                <TH>Nombre</TH>
                                                                                                <TH>Montant</TH>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @foreach (var item8 in grouped8)
                                                                                            {

                                                                                                <tr>
                                                                                                    <td>@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item8.Mois)</td>
                                                                                                    <td>@item8.PV</td>
                                                                                                    <td>@item8.pack</td>
                                                                                                    <td>@item8.Nombre</td>
                                                                                                    <td>@item8.Montant</td>
                                                                                                </tr>
                                                                                            }
                                                                                            <tr>
                                                                                                @foreach (var gd8 in ViewBag.TotalEtatRecapDeFacturation)
                                                                                                {
                                                                                                    if (grouped8.GetType().GetProperty("Key").GetValue(grouped8) == gd8.Annee)
                                                                                                    {
                                                                                                        <td>  </td>
                                                                                                        <td>  </td>
                                                                                                        <td>Total : </td>
                                                                                                            <td> <span class="fa fa-calculator"></span> @gd8.NombreTotal </td>
                                                                                                                <td> <span class="fa fa-calculator"></span> @gd8.MontantTotal </td>
                                                                                                    }
                                                                                                }
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    }
                                                                    else
                                                                    {
                                                                        <div id="Mois_@grouped8.GetType().GetProperty("Key").GetValue(grouped8)"
                                                                             class="tab-pane active text-black-50">
                                                                            <div class="full-height-scroll">
                                                                                <div class="table-responsive">
                                                                                    <table class="table table-striped table-hover data datatable-style">

                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>Mois</th>
                                                                                                <th>PV</th>
                                                                                                <th>Pack</th>
                                                                                                <th colspan="2">Premières factures</th>

                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th> </th>
                                                                                                <th> </th>
                                                                                                <th> </th>
                                                                                                <TH>Nombre</TH>
                                                                                                <TH>Montant</TH>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @foreach (var item8 in grouped8)
                                                                                            {

                                                                                                <tr>
                                                                                                    <td>@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item8.Mois)</td>
                                                                                                    <td>@item8.PV</td>
                                                                                                    <td>@item8.pack</td>
                                                                                                    <td>@item8.Nombre</td>
                                                                                                    <td>@item8.Montant</td>
                                                                                                </tr>
                                                                                            }
                                                                                            <tr>
                                                                                                @foreach (var gd8 in ViewBag.TotalEtatRecapDeFacturation)
                                                                                                {
                                                                                                    if (grouped8.GetType().GetProperty("Key").GetValue(grouped8) == gd8.Annee)
                                                                                                    {
                                                                                                        <td>  </td>
                                                                                                        <td>  </td>
                                                                                                        <td>Total : </td>
                                                                                                            <td> <span class="fa fa-calculator"></span> @gd8.NombreTotal </td>
                                                                                                                <td> <span class="fa fa-calculator"></span> @gd8.MontantTotal </td>
                                                                                                    }
                                                                                                }
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    }
                                                                }
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Nombre totale et Montant total des premiéres factures générées par PV émetteur  et par année -->
                            <div id="tab-4-2" class="tab-pane">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">

                                            <div class="ibox-content">

                                                <div class="ibox">


                                                    <div class="col-lg-12">
                                                        <canvas id="barChart" height="80"></canvas>
                                                    </div>

                                                    <div class="ibox-content">

                                                        <h3 class="font-bold no-margins">
                                                            Nombre totale et Montant total des premiéres factures générées par PV émetteur  et par année
                                                        </h3>

                                                        <div class="clients-list">
                                                            <ul class="nav nav-tabs">

                                                                @foreach (var item8 in ViewBag.TotalnbretotalParPVanneeEtatRecapDeFacturation)
                                                                {
                                                                    <li class="bg-primary">
                                                                        <a data-toggle="tab" href="#Moissss_@item8.GetType().GetProperty("Key").GetValue(item8)">
                                                                            <i class="fa fa-calendar"></i>@item8.GetType().GetProperty("Key").GetValue(item8)
                                                                        </a>
                                                                    </li>
                                                                }

                                                            </ul>
                                                            <div class="tab-content">

                                                                @foreach (var grouped8 in ViewBag.TotalnbretotalParPVanneeEtatRecapDeFacturation)
                                                                {
                                                                    if (grouped8.GetType().GetProperty("Key").GetValue(grouped8) == 2020)
                                                                    {
                                                                        <div id="Moissss_@grouped8.GetType().GetProperty("Key").GetValue(grouped8)"
                                                                             class="tab-pane active text-black-50">
                                                                            <div class="full-height-scroll">
                                                                                <div class="table-responsive">

                                                                                    <table class="table table-striped table-hover data datatable-style">

                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th colspan="3">Totale Demande Par PV emetteur</th>

                                                                                            </tr>
                                                                                            <tr>
                                                                                                <TH>PV</TH>
                                                                                                <TH>Nombre Total</TH>
                                                                                                <TH>Montant Total</TH>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @foreach (var item8 in grouped8)
                                                                                            {

                                                                                                <tr>
                                                                                                    <td>@item8.PV</td>
                                                                                                    <td>@item8.NombreTotal</td>
                                                                                                    <td>@item8.MontantTotal</td>

                                                                                                </tr>
                                                                                            }

                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    }
                                                                    else
                                                                    {
                                                                        <div id="Moissss_@grouped8.GetType().GetProperty("Key").GetValue(grouped8)"
                                                                             class="tab-pane active text-black-50">
                                                                            <div class="full-height-scroll">
                                                                                <div class="table-responsive">
                                                                                    <div class="full-height-scroll">
                                                                                        <div class="table-responsive">

                                                                                            <table class="table table-striped table-hover data datatable-style">

                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th colspan="3">Totale Demande Par PV emetteur</th>

                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <TH>PV</TH>
                                                                                                        <TH>Nombre Total</TH>
                                                                                                        <TH>Montant Total</TH>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                    @foreach (var item8 in grouped8)
                                                                                                    {

                                                                                                        <tr>
                                                                                                            <td>@item8.PV</td>
                                                                                                            <td>@item8.NombreTotal</td>
                                                                                                            <td>@item8.MontantTotal</td>

                                                                                                        </tr>
                                                                                                    }

                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    }
                                                                }
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Nombre et Montant des  factures générées par PV émetteur -->

                            <div id="tab-4-3" class="tab-pane">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">

                                            <div class="ibox-content">

                                                <div class="ibox">


                                                    <div class="col-lg-12">
                                                        <canvas id="slineChartt" height="80"></canvas>
                                                    </div>

                                                    <div class="ibox-content">

                                                        <h3 class="font-bold no-margins">
                                                            Nombre et Montant des  factures générées par PV émetteur
                                                        </h3>

                                                        <div class="clients-list">
                                                            <ul class="nav nav-tabs">

                                                                @foreach (var item8 in ViewBag.demandeEtatRecapTotalFacturee)
                                                                {
                                                                    <li class="bg-primary">
                                                                        <a data-toggle="tab" href="#Moisssss_@item8.GetType().GetProperty("Key").GetValue(item8)">
                                                                            <i class="fa fa-calendar"></i>@item8.GetType().GetProperty("Key").GetValue(item8)
                                                                        </a>
                                                                    </li>
                                                                }

                                                            </ul>
                                                            <div class="tab-content">

                                                                @foreach (var grouped8 in ViewBag.demandeEtatRecapTotalFacturee)
                                                                {
                                                                    if (grouped8.GetType().GetProperty("Key").GetValue(grouped8) == 2020)
                                                                    {
                                                                        <div id="Moisssss_@grouped8.GetType().GetProperty("Key").GetValue(grouped8)"
                                                                             class="tab-pane active text-black-50">
                                                                            <div class="full-height-scroll">
                                                                                <div class="table-responsive">

                                                                                    <table class="table table-striped table-hover data datatable-style">

                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>Mois</th>
                                                                                                <th>PV</th>
                                                                                                <th>Pack</th>
                                                                                                <th colspan="2">Total facturés</th>

                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th> </th>
                                                                                                <th> </th>
                                                                                                <th> </th>
                                                                                                <TH>Nombre</TH>
                                                                                                <TH>Montant</TH>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @foreach (var item8 in grouped8)
                                                                                            {

                                                                                                <tr>
                                                                                                    <td>@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item8.Mois)</td>
                                                                                                    <td>@item8.PV</td>
                                                                                                    <td>@item8.pack</td>
                                                                                                    <td>@item8.Nombre</td>
                                                                                                    <td>@item8.Montant</td>
                                                                                                </tr>
                                                                                            }
                                                                                            <tr>
                                                                                                @foreach (var gd8 in ViewBag.TotalEtatRecapTotalFacturee)
                                                                                                {
                                                                                                    if (grouped8.GetType().GetProperty("Key").GetValue(grouped8) == gd8.Annee)
                                                                                                    {
                                                                                                        <td>  </td>
                                                                                                        <td>  </td>
                                                                                                        <td>Total : </td>
                                                                                                            <td> <span class="fa fa-calculator"></span> @gd8.NombreTotal </td>
                                                                                                                <td> <span class="fa fa-calculator"></span> @gd8.MontantTotal </td>
                                                                                                    }
                                                                                                }
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    }
                                                                    else
                                                                    {
                                                                        <div id="Moisssss_@grouped8.GetType().GetProperty("Key").GetValue(grouped8)"
                                                                             class="tab-pane active text-black-50">
                                                                            <div class="full-height-scroll">
                                                                                <div class="table-responsive">
                                                                                    <table class="table table-striped table-hover data datatable-style">

                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>Mois</th>
                                                                                                <th>PV</th>
                                                                                                <th>Pack</th>
                                                                                                <th colspan="2">Total facturés</th>

                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th> </th>
                                                                                                <th> </th>
                                                                                                <th> </th>
                                                                                                <TH>Nombre</TH>
                                                                                                <TH>Montant</TH>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @foreach (var item8 in grouped8)
                                                                                            {

                                                                                                <tr>
                                                                                                    <td>@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item8.Mois)</td>
                                                                                                    <td>@item8.PV</td>
                                                                                                    <td>@item8.pack</td>
                                                                                                    <td>@item8.Nombre</td>
                                                                                                    <td>@item8.Montant</td>
                                                                                                </tr>
                                                                                            }
                                                                                            <tr>
                                                                                                @foreach (var gd8 in ViewBag.TotalEtatRecapTotalFacturee)
                                                                                                {
                                                                                                    if (grouped8.GetType().GetProperty("Key").GetValue(grouped8) == gd8.Annee)
                                                                                                    {
                                                                                                        <td>  </td>
                                                                                                        <td>  </td>
                                                                                                        <td>Total : </td>
                                                                                                            <td> <span class="fa fa-calculator"></span> @gd8.NombreTotal </td>
                                                                                                                <td> <span class="fa fa-calculator"></span> @gd8.MontantTotal </td>
                                                                                                    }
                                                                                                }
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    }
                                                                }
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Nombre totale et Montant total des factures générées par PV émetteur  et par année  -->

                            <div id="tab-4-4" class="tab-pane">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">

                                            <div class="ibox-content">

                                                <div class="ibox">


                                                    <div class="col-lg-12">
                                                        <canvas id="barChartt" height="80"></canvas>
                                                    </div>

                                                    <div class="ibox-content">

                                                        <h3 class="font-bold no-margins">
                                                            Nombre totale et Montant total des factures générées par PV émetteur  et par année
                                                        </h3>

                                                        <div class="clients-list">
                                                            <ul class="nav nav-tabs">

                                                                @foreach (var item8 in ViewBag.TotalnbretotalParPVanneeEtatRecapTotalFacturee)
                                                                {
                                                                    <li class="bg-primary">
                                                                        <a data-toggle="tab" href="#Moissssss_@item8.GetType().GetProperty("Key").GetValue(item8)">
                                                                            <i class="fa fa-calendar"></i>@item8.GetType().GetProperty("Key").GetValue(item8)
                                                                        </a>
                                                                    </li>
                                                                }

                                                            </ul>
                                                            <div class="tab-content">

                                                                @foreach (var grouped8 in ViewBag.TotalnbretotalParPVanneeEtatRecapTotalFacturee)
                                                                {
                                                                    if (grouped8.GetType().GetProperty("Key").GetValue(grouped8) == 2020)
                                                                    {
                                                                        <div id="Moissssss_@grouped8.GetType().GetProperty("Key").GetValue(grouped8)"
                                                                             class="tab-pane active text-black-50">
                                                                            <div class="full-height-scroll">
                                                                                <div class="table-responsive">

                                                                                    <table class="table table-striped table-hover table-bordered data datatable-style">

                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th colspan="3">Totale FacturéePar PV emetteur</th>

                                                                                            </tr>
                                                                                            <tr>
                                                                                                <TH>PV</TH>
                                                                                                <TH>Nombre Total</TH>
                                                                                                <TH>Montant Total</TH>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @foreach (var item8 in grouped8)
                                                                                            {

                                                                                                <tr>
                                                                                                    <td>@item8.PV</td>
                                                                                                    <td>@item8.NombreTotal</td>
                                                                                                    <td>@item8.MontantTotal</td>

                                                                                                </tr>
                                                                                            }

                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    }
                                                                    else
                                                                    {
                                                                        <div id="Moissssss_@grouped8.GetType().GetProperty("Key").GetValue(grouped8)"
                                                                             class="tab-pane active text-black-50">
                                                                            <div class="full-height-scroll">
                                                                                <div class="table-responsive">
                                                                                    <div class="full-height-scroll">
                                                                                        <div class="table-responsive">

                                                                                            <table class="table table-striped table-hover data datatable-style">

                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th colspan="3">Totale Demande Par PV emetteur</th>

                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <TH>PV</TH>
                                                                                                        <TH>Nombre Total</TH>
                                                                                                        <TH>Montant Total</TH>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                    @foreach (var item8 in grouped8)
                                                                                                    {

                                                                                                        <tr>
                                                                                                            <td>@item8.PV</td>
                                                                                                            <td>@item8.NombreTotal</td>
                                                                                                            <td>@item8.MontantTotal</td>

                                                                                                        </tr>
                                                                                                    }

                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    }
                                                                }
                                                            </div>
                                                        </div>



                                                    </div>

                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- Custom and plugin javascript -->
<script src="~/js/inspinia.js"></script>
<script src="~/js/plugins/pace/pace.min.js"></script>
<!-- ChartJS-->
<script src="~/js/plugins/chartJs/Chart.min.js"></script>
<script src="~/js/plugins/dataTables/datatables.min.js"></script>

<script src="~/js/plugins/c3/c3.min.js"></script>
<script src="~/js/plugins/d3/d3.min.js"></script>
<!-- Morris -->
<script src="~/js/plugins/morris/raphael-2.1.0.min.js"></script>
<script src="~/js/plugins/morris/morris.js"></script>

<script>

    $(function () {

        $('.datatable-style').DataTable({
            order:false,
            responsive: true,
            "paging": false,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy' },
                { extend: 'csv' },
                { extend: 'excel', title: 'Export' },
                { extend: 'pdf', title: 'Export' },
                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                    }
                }
            ]

        });

        var slineData = {
            labels: @Html.Raw(ViewBag.AnneeTotalEtatRecapDeFacturation),
            datasets: [
                {
                    label: "Nombre Total des premiéres factures par année ",
                    backgroundColor: "rgba(117, 201, 178,0.5)",
                    borderColor: "rgba(117, 201, 178,0.7)",
                    data: @Html.Raw(ViewBag.NombreTotalEtatRecapDeFacturation)
                    },
                {
                    label: "Montant Toal des premiéres factures par année ",
                    backgroundColor: "rgba(81, 86, 167,0.5)",
                    borderColor: "rgba(81, 86, 167,0.7)",
                    data: @Html.Raw(ViewBag.MontantTotalEtatRecapDeFacturation)
                }

            ]
        };

        var radarOptions = {
            responsive: true
        };
        var ctx5 = document.getElementById("slineChart").getContext("2d");
        new Chart(ctx5, { type: 'bar', data: slineData, options: radarOptions });


        var lineDatabarChart = {
            labels: @Html.Raw(ViewBag.PVnbretotalParPVanneeEtatRecapDeFacturation),
            datasets: [

                {
                    label: "Nombre Total par PV pour l'année actuel",
                    backgroundColor: 'rgba(26,179,148,0.5)',
                    borderColor: "rgba(26,179,148,0.7)",
                    //pointBackgroundColor: "rgba(26,179,148,1)",
                    pointBorderColor: "#fff",
                    data: @Html.Raw(ViewBag.NombrePVnbretotalParPVanneeEtatRecapDeFacturation)
                    },
                    {
                        label: "Montant Total par PV pour l'année actuel",
                        backgroundColor: 'rgb(181, 184, 207, 0.5)',

                        pointBorderColor: "#fff",
                        data: @Html.Raw(ViewBag.MontantPVnbretotalParPVanneeEtatRecapDeFacturation)
                    }

            ]
        };

        var lineOptions = {
            responsive: true
        };
        var ctx = document.getElementById("barChart").getContext("2d");
        new Chart(ctx, { type: 'bar', data: lineDatabarChart, options: lineOptions });


        var slineDataa = {
            labels: @Html.Raw(ViewBag.AnneeTotalEtatRecapTotalFacturee),
            datasets: [
                {
                    label: "Nombre Total des factures générées par année",
                    backgroundColor: "rgba(117, 201, 178,0.5)",
                    borderColor: "rgba(117, 201, 178,0.7)",
                    data: @Html.Raw(ViewBag.NombreTotalTotalEtatRecapTotalFacturee)
                    },   {
                        label: "Montant Total des factures générées par année",
                        backgroundColor: "rgba(81, 86, 167,0.5)",
                        borderColor: "rgba(81, 86, 167,0.7)",
                        data: @Html.Raw(ViewBag.MontantTotalTotalEtatRecapTotalFacturee)
                    }

            ]
        };

        var radarOptions = {
            responsive: true
        };
        var ctx5 = document.getElementById("slineChartt").getContext("2d");
        new Chart(ctx5, { type: 'bar', data: slineDataa, options: radarOptions });


        var lineDatabarChartt = {
            labels: @Html.Raw(ViewBag.PVnbretotalParPVanneeEtatRecapTotalFacturee),
            datasets: [

                {
                    label: "Nombre Total par PV pour l'année actuel",
                    backgroundColor: 'rgba(26,179,148,0.5)',
                    borderColor: "rgba(26,179,148,0.7)",
                    //pointBackgroundColor: "rgba(26,179,148,1)",
                    pointBorderColor: "#fff",
                    data: @Html.Raw(ViewBag.NombrenbretotalParPVanneeEtatRecapTotalFacturee)
                    },
                    {
                        label: "Montant Total par PV pour l'année actuel",
                        backgroundColor: 'rgb(181, 184, 207, 0.5)',
                        borderColor: "rgba(181, 184, 207,0.7)",
                        pointBorderColor: "#fff",
                        data: @Html.Raw(ViewBag.MontantnbretotalParPVanneeEtatRecapTotalFacturee)
                    }

            ]
        };

        var lineOptions = {
            responsive: true
        };
        var ctx = document.getElementById("barChartt").getContext("2d");
        new Chart(ctx, { type: 'bar', data: lineDatabarChartt, options: lineOptions });



    });


</script>