@model PagedList.IPagedList<BeeProj.Models.ListAbonnementGlobal>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Liste des abonnements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="~/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Liste des abonnements</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Acceuil</a>
            </li>
            <li>
                <a href="@Url.Action("ListeAbonnement", "Abonnement")">Gestion des abonnements</a>
            </li>
            <li class="active">
                <a href="@Url.Action("ListeAbonnement", "Abonnement")"><strong>Liste des abonnements</strong></a>
            </li>
        </ol>
    </div>

</div>
@*@if (ViewBag.Agence == 0)
    {*@
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        Informations sur les abonnements
                    </h5>


                </div>
                <div class="ibox-content">

                    <div class="table-responsive">

                        <table class="table table-striped table-bordered table-responsive table-hover">
                            @using (Html.BeginForm("ListeAbonnement", "Abonnement", FormMethod.Get))
                            {
                                <p class="pull-right">
                                    Recherche Avancée: @Html.TextBox("search")
                                    <button class="btn btn-outline-success"><i class="fa fa-search"></i></button>
                                </p>

                            }
                            <thead>
                                <tr>
                                    <th> Statut </th>
                                    <th> Etape </th>
                                    <th> Réference TT </th>
                                    <th> Code abonnement </th>
                                    <th> Client </th>
                                    <th> Avancement </th>
                                    <th> Date de création </th>
                                    <th> Date Mise en service </th>
                                    <th> Date livraison </th>
                                    <th> Ville </th>
                                    <th> Gouvernorat </th>
                                    <th> Téléphone Fixe </th>
                                    <th>Ancien Téléphone Fixe </th>
                                    <th> Téléphone </th>
                                    <th> Identifiant </th>
                                    <th> Offre </th>
                                    <th> Type Agence </th>
                                    <th> Intitule Agence</th>
                                    <th> taux remise</th>
                                    <th> date fin remise</th>
                                    <th> createur </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="gradeX">
                                        <td>@item.Statut</td>
                                        <td>@item.Etape</td>

                                        <td>@item.ReferenceTT</td>
                                        <td>@item.DO_Piece</td>
                                        <td>@item.Client</td>
                                        <td>
                                            <small>Pourcentage: @item.Avancement %</small>
                                            <div class="progress progress-mini"><div style="width:@item.Avancement%;" class="progress-bar"></div></div>
                                        </td>
                                        <td>@item.DateCreation1</td>
                                        <td>@item.DateService.GetValueOrDefault().ToString("dd/MM/yyyy") </td>
                                        <td>@item.DateLivraison.GetValueOrDefault().ToString("dd/MM/yyyy") </td>

                                        <td>@item.Ville</td>
                                        <td>@item.CT_Gouvernorat</td>
                                        <td>@item.NumeFixe</td>
                                        <td>@item.Ancien_Num_Fixe</td>

                                        <td>@item.Téléphone</td>
                                        <td>@item.Identifiant</td>
                                        <td>

                                            <p>@item.Offre</p>


                                        </td>


                                        <td>

                                            <p>@item.TypeAgence</p>

                                        </td>


                                        <td>@item.IntituleAgence</td>
                                        <td>

                                            <p>@item.DL_RemiseValeur </p>



                                        <td>

                                            <p>@item.DL_DateFinRemise</p>

                                        <td>@item.cbCreateur</td>
                                        <td class="project-completion">

                                            <a class="btn btn-sm btn-outline btn-purplebee " value="@item.Cbmarq"
                                               title="Voir détails" href="/Abonnement/Details/@item.Cbmarq" target="_blank">
                                                <i class="fa fa-eye"></i>Détails
                                            </a>
                                            @if (item.DO_Etape == 0)
                                            {
                                                <button type="button" onClick="AnnulerAbo(@item.Cbmarq)" title="Annuler la demande d'abonnement" class="btn btn-sm btn-outline btn-danger ">
                                                    <i class="fa fa-trash "></i> Annuler
                                                </button>
                                                <button type="button" onClick="Reaffecter(@item.Cbmarq)" title="Réaffecter l'abonnement"
                                                        class="btn btn-sm btn-outline btn-greenbee ">
                                                    <i class="fa fa-trash "></i> Réaffecter
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="button" title="Annuler la demande d'abonnement" class="btn btn-sm btn-outline btn-default disabled">
                                                    <i class="fa fa-trash "></i> Annuler
                                                </button>
                                                <button type="button" onClick="Reaffecter(@item.Cbmarq)" title="Réaffecter l'abonnement"
                                                        class="btn btn-sm btn-outline btn-greenbee ">
                                                    <i class="fa fa-trash "></i> Réaffecter
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) sur @Model.PageCount
                        @Html.PagedListPager(Model, i => Url.Action("ListeAbonnement",
         new { i, search = @ViewBag.search }))
                    </div>
                    <span>Total Ligne :<strong>@ViewBag.TotalLigne</strong> </span>
                </div>

            </div>
        </div>
    </div>
</div>

@*else
    {
        @Html.Hidden("RedirectTo", Url.Action("listesAbonnementss", "Abonnement"));

    }*@
<div class="modal inmodal" id="ReaffectationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                <i class="fa fa-cubes modal-icon"></i>
                <h4 class="modal-title">Réaffecter l'abonnement  </h4>
                <small class="font-bold">Confirmer la réaffectation de cet abonnement à une autre agence </small>
            </div>
            <div class="modal-body">
                <p>
                    Choisissez l'agence
                </p>
                <div class="form-group">
                    @if (ViewBag.ListeAgences != null)
                    {
                        <select class="form-control chosen-select" id="A_Code">
                            @foreach (var item2 in ViewBag.ListeAgences)
                            {
                                <option value="@item2.A_Code">@item2.A_Intitule</option>
                            }
                        </select>
                    }
                </div>
                <div class="form-group">
                    <textarea placeholder="Commentaires " class="form-control" id="CommentairesReaffectation"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-purplebee ladda-button" id="ValiderReaffecter">Valider </button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/js/plugins/pace/pace.min.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/js/plugins/chosen/chosen.jquery.js"></script>
<script src="~/js/plugins/dataTables/datatables.min.js"></script>
<!-- Sweet alert -->
<script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>

<script>
    //if (ViewBag.Agence != 0) {
    //    var url = $("#RedirectTo").val();
    //    location.href = url;
    //}

    $(document).ready(function () {

        $('#listeAbo').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy' },
                { extend: 'csv' },
                { extend: 'excel', title: 'ExampleFile' },
                { extend: 'pdf', title: 'ExampleFile' },
                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });
    });

    function Reaffecter(cbm) {


        $("#ReaffectationModal").modal();

        $("#ValiderReaffecter").click(function () {

            $.ajax({
                type: "get",
                url: '/Abonnement/ReaffecterAbonnements?cbm=' + cbm + '&&agences=' + $('select#A_Code').find("option:selected").val() + '&&Notes=' + $('#CommentairesReaffectation').val(), // we are calling json method
                dataType: 'json',
                success: function (result) {
                    if (result != -1) {
                        swal("Succès!", result + "Abonnement réaffectés avec succès! ", "success");
                        window.location = "/Abonnement/ListeAbonnement";
                    }
                    else {
                        swal({
                            title: "Aucune modification ",
                            text: "Ok",
                            type: "warning"
                        });
                        window.location = "/Abonnement/ListeAbonnement";

                    }
                }
            });

        });
    }


</script>
