
@{
    ViewBag.Title = "NotificationSuspensionParametre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="~/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Liste des actions de recouvrement</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Acceuil</a>
            </li>
            <li>
                <a href="@Url.Action("ListeAbonnement", "Abonnement")">Recouvrement </a>
            </li>
            <li class="active">
                <a href="@Url.Action("ListeAbonnement", "Abonnement")"><strong> Liste des actions de recouvrement </strong></a>
            </li>
        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Informations sur les abonnements</h5>

                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("NotificationSuspensionParametre", "Abonnement", FormMethod.Post))
                    {
                    <div class="row g-3">
                        <div class="col-6 col-sm-4" @*class="form-group col-md-3"*@>
                            @if (ViewBag.date != null)
                            {
                                <label for="inputDate">Date</label>
                                <input type="date" class="form-control" name="date" id="date" value="@ViewBag.date.ToString("yyyy-MM-dd")" required>
                            }
                            else
                            {
                                <label for="inputDate">Date</label>
                                <input type="date" class="form-control" name="date" id="date" required>
                            }

                        </div>
                        <div class="col-6 col-sm-4" @*class="form-group col-md-3"*@>
                            <label for="inputNB">Nombre des jours</label>
                            <input id="Nbj" name="Nbj" class="form-control" value="@ViewBag.Nbj" placeholder="Nombre des jours" required />
                        </div>
                        <div class="col-6 col-sm-4" @*class="form-group col-md-3"*@>
                            <label for="inputType">Periode</label>
                            <select name="periode" class="chosen-select form-control" id="periode" value="@ViewBag.periode" placeholder="Périodicité">
                                <option value="0">-- Choisir période --</option>
                                <option value="1">1 mois</option>
                                <option value="3">3 mois</option>
                                <option value="6">6 mois</option>
                                <option value="12">12 mois</option>
                                <option value="24">24 mois</option>
                            </select>
                        </div>

                        <div class="col-6 col-sm-4" @*class="form-group col-md-3"*@>
                            <label for="inputDate">Choisir type de recherche des factures :</label>
                            <div class="form-check">
                                @if (ViewBag.min != null)
                                {
                                    <input class="form-check-input" type="checkbox" value="1" name="min" id="min" onclick="MinCheck()" checked />
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Min
                                    </label>
                                }
                                else
                                {
                                    <input class="form-check-input" type="checkbox" value="1" name="min" id="min" onclick="MinCheck()" />
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Min
                                    </label>
                                }

                            </div>
                            <div class="form-check">
                                @if (ViewBag.exacte != null)
                                {
                                    <input class="form-check-input" type="checkbox" value="1" name="exacte" id="exacte" onclick="ExacteCheck()" checked />
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Exacte
                                    </label>
                                }
                                else
                                {
                                    <input class="form-check-input" type="checkbox" value="1" name="exacte" id="exacte" onclick="ExacteCheck()" />
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Exacte
                                    </label>
                                }

                            </div>
                        </div>

                        <div class="col-6 col-sm-4" @*class="form-group col-md-3"*@>
                            <label for="inputDate">Factures impayées</label>
                            <input type="number" id="FactureImp" name="FactureImp" class="form-control"  value="@ViewBag.FactureImp" placeholder="Nbr des factures impayées" />
                        </div>

                        <div class="col-6 col-sm-4" @*class="form-group col-md-3"*@>
                            <label for="SoldeMin">Solde min</label>
                            <input id="SoldeMin" name="SoldeMin" class="form-control" value="@ViewBag.SoldeMin" placeholder="Solde Min" />
                        </div>
                        <div class="col-6 col-sm-8" @*class="form-group col-md-3"*@>
                            <label for="inputType">Statut abonnement</label>
                            <select name="StatutAbo" id="StatutAbo" class="col-sm-4 form-control chosen-search " data-placeholder="Choisir...">
                                <option value="">--Choisir--</option>
                                @foreach (var item in ViewBag.ListeStatut)
                                {
                                    if (item == ViewBag.StatutAbo)
                                    {
                                        <option value=@item selected>@item</option>
                                    }
                                    else
                                    {
                                        <option value=@item>@item</option>
                                    }
                                }

                            </select>
                        </div>
                        <div class="col-6 col-sm-4" @*class="form-group col-md-auto"*@>
                            <br />
                            <button type="submit" class="btn btn-primary">Rechercher</button>
                        </div>
                        @*<div class="w-100"></div>*@

                    </div>

                    }
                    <br />
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close " data-dismiss="alert"> × </button>
                        @ViewBag.date <br />
                        Alerte de suspension des abonnements (x jours non payés selon fréquence paiement)

                    </div>


                    <div class="table-responsive">
                        <table class="table table-responsive table-hover " id="listeAbo">
                            <thead>
                                <tr>
                                    <th> Code client </th>
                                    <th> Téléphone Fixe </th>
                                    <th> Intitulé </th>
                                    <th> Débit </th>
                                    <th> Périodicité </th>
                                    <th> GSM </th>
                                    <th> Statut abo </th>
                                    @*<th> Etat cnx </th>*@
                                    <th> Solde Abonnement</th>
                                    <th> NB non payé </th>
                                    <th> Motif résiliation </th>
                                    <th> Dérniére facture </th>
                                    <th> Montant </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.listeabonnements != null)
                                {
                                    foreach (var item in ViewBag.listeabonnements)
                                    {
                                <tr class="gradeX">
                                    <td>@item.CodeClient</td>
                                    <td>@item.NumeFixe</td>
                                    <td>@item.Intitule</td>
                                    <td>@item.Debit</td>
                                    <td><small>@item.periode</small></td>
                                    <td>@item.GSM</td>
                                    <td>@item.StatutAbo</td>
                                    @*<td>@item.EtatCnx</td>*@
                                    <td>@item.SoldeAbonnement</td>
                                    <td>@item.Nombre</td>
                                    <td>@item.MotifResiliation</td>
                                    <td>@item.LastFacture</td>
                                    <td>  <strong>@String.Format("{0:N3}", @item.MontantFacture)  </strong> TND</td>

                                    <td class="project-completion">
                                        <a href=@Url.Action("Details/" + @item.Cbmarq, "Abonnement") class="btn btn-sm btn-outline btn-purplebee ">
                                            <i class="fa fa-eye "></i> Détails
                                        </a>

                                    </td>

                                </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/js/plugins/pace/pace.min.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/js/plugins/chosen/chosen.jquery.js"></script>
<script src="~/js/plugins/dataTables/datatables.min.js"></script>
<!-- Sweet alert -->
<script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>
<!-- Date range use moment.js same as full calendar plugin -->
<script src="~/js/plugins/fullcalendar/moment.min.js"></script>
<script src="~/js/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Select2 -->
<script src="~/js/plugins/select2/select2.full.min.js"></script>
<script>
    $(document).ready(function () {

        $('#listeAbo').DataTable({
            pageLength: 30,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy' },
                { extend: 'csv' },
                { extend: 'excel', title: 'ExampleFile' },
                { extend: 'pdf', title: 'ExampleFile' },
                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });
    });
    function MinCheck() {
        var min = document.getElementById("min");
        var exacte = document.getElementById("exacte");

        if (min.checked == true) {
            exacte.checked = false;
        }
        else if (min.checked == false && exacte.checked == false) {
            min.checked = true;
        }
    }
    function ExacteCheck() {
        var exacte = document.getElementById("exacte");
        var min = document.getElementById("min");

        if (exacte.checked == true) {
            min.checked = false;
        }
        else if (exacte.checked == false && min.checked == false) {
            exacte.checked = true;
        }
    }
    //function Reaffecter(cbm) {


    //    $("#ReaffectationModal").modal();

    //    $("#ValiderReaffecter").click(function () {

    //        $.ajax({
    //            type: "get",
    //            url: '/Abonnement/ReaffecterAbonnements?cbm=' + cbm + '&&agences=' + $('select#A_Code').find("option:selected").val() + '&&Notes=' + $('#CommentairesReaffectation').val(), // we are calling json method
    //            dataType: 'json',
    //            success: function (result) {
    //                if (result != -1) {
    //                    swal("Succès!", result + "Abonnement réaffectés avec succès! ", "success");
    //                    window.location = "/Abonnement/ListeAbonnement";
    //                }
    //                else {
    //                    swal({
    //                        title: "Aucune modification ",
    //                        text: "Ok",
    //                        type: "warning"
    //                    });
    //                    window.location = "/Abonnement/ListeAbonnement";

    //                }
    //            }
    //        });

    //    });
    //}


</script>

