@{
    ViewBag.Title = "OffreConventionnelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Liste des packs d'abonnement</h2>
        <ol class="breadcrumb">
            <li>
                <a>Acceuil</a>
            </li>
            <li>
                <a>Gestion des Abonnements</a>
            </li>

        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        @foreach (var item in ViewBag.ListeFamilles)
        {

            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">

                            <div class="">
                                @if (item.isConventionnelle == 1)
                                {
                                    if (User.IsInRole("Admin") || User.IsInRole("OffreConventionnelle"))
                                    {
                                        <a href="@Url.Action("GroupeConventionnels","abonnement", new { id = @item.FA_CodeFamille })" class="">
                                            <img src="@Url.Action("PhotoFamille", "Structure" , new { id= @item.cbMarq })" class="img-preview img-responsive" onError="this.onerror=null;this.src='/img/DefaultImage.png';" />
                                        </a>
                                    }
                                }
                                else
                                {
                                    <a href="@Url.Action("AbonnementDeBase","abonnement", new { id = @item.FA_CodeFamille })" class="">
                                        <img src="@Url.Action("PhotoFamille", "Structure" , new { id= @item.cbMarq })" class="img-preview img-responsive" onError="this.onerror=null;this.src='/img/DefaultImage.png';" />
                                    </a>
                                }
                            </div>
                            <div class="product-desc">
                                <small class="text-muted">@item.FA_CodeFamille</small>
                                @if (item.isConventionnelle == 1)
                                {
                                    if (User.IsInRole("Admin") || User.IsInRole("OffreConventionnelle"))
                                    {
                                        <a href="@Url.Action("GroupeConventionnels", "abonnement", new { id = @item.FA_CodeFamille })" class="product-name"> @item.FA_Intitule </a>
                                    }
                                }
                                else
                                {
                                    <a href="@Url.Action("AbonnementDeBase","abonnement", new { id = @item.FA_CodeFamille })" class="product-name"> @item.FA_Intitule </a>
                                }
                                <div class="small m-t-xs">
                                    @item.FA_Description
                                </div>
                                <div class="m-t text-righ">
                                    @if (item.isConventionnelle == 1)
                                    {
                                        if (User.IsInRole("Admin") || User.IsInRole("OffreConventionnelle"))
                                        {
                                            <a href="@Url.Action("GroupeConventionnels", "abonnement", new { id = @item.FA_CodeFamille })" class="product-name"> @item.FA_Intitule </a>
                                        }
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("AbonnementDeBase","abonnement", new { id = @item.FA_CodeFamille })" class="product-name"> @item.FA_Intitule </a>
                                    }

                                </div>
                            </div>

                    </div>
                </div>
            </div>



        }

      
    </div>

</div>

<script src="~/js/jquery-3.1.1.min.js"></script>
