
@{
    ViewBag.Title = "TypeAbonnement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Liste des packs d'abonnement</h2>
        <ol class="breadcrumb">
            <li>
                <a>Acceuil</a>
            </li>
            <li>
                <a>Gestion des Abonnements</a>
            </li>

        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        @foreach (var item in ViewBag.FamilleTypeAbo)
        {

            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="">
                            <a href="@Url.Action("AbonnementDeBase","abonnement", new { id = @item.FA_CodeFamille })" class="">
                                <img src="@Url.Action("PhotoFamille", "Structure" , new { id= @item.cbMarq })" class="img-preview img-responsive" onError="this.onerror=null;this.src='/img/DefaultImage.png';" />
                            </a>
                        </div>
                        <div class="product-desc">

                            <small class="text-muted">@item.FA_CodeFamille</small>
                            <a href="@Url.Action("AbonnementDeBase","abonnement", new { id = @item.FA_CodeFamille })" class="product-name"> @item.FA_Intitule </a>


                            <div class="small m-t-xs">
                                @item.FA_Description
                            </div>
                            <div class="m-t text-righ">

                                <a href="@Url.Action("AbonnementDeBase","abonnement", new { id = @item.FA_CodeFamille })" class="btn btn-xs btn-outline btn-primary">Découvrir <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="">
                            <a href="@Url.Action("AbonnementPromo","abonnement", new { id = @item.FA_CodeFamille })" class="">
                                <img src="@Url.Action("PhotoFamille", "Structure" , new { id= @item.cbMarq })" class="img-preview img-responsive" onError="this.onerror=null;this.src='/img/DefaultImage.png';" />
                            </a>
                        </div>
                        <div class="product-desc">
                            <span class="product-price fa-3x  bg-warning">
                                EN PROMO
                            </span>

                            <small class="text-muted">@item.FA_CodeFamille PROMOTION</small>
                            <a href="@Url.Action("AbonnementPromo","abonnement", new { id = @item.FA_CodeFamille })" class="product-name"> @item.FA_Intitule </a>


                            <div class="small m-t-xs">
                                @item.FA_Description
                            </div>
                            <div class="m-t text-righ">

                                <a href="@Url.Action("AbonnementPromo","abonnement", new { id = @item.FA_CodeFamille })" class="btn btn-xs btn-outline btn-primary">Découvrir <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<script src="~/js/jquery-3.1.1.min.js"></script>
