@model BeeProj.ViewModels.AgenceAvanceModel

@{
    ViewBag.Title = "Détails Agence Avance sur Commission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
<link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="~/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
<link href="~/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Agence Avance surCommission</h2>
        <ol class="breadcrumb">
            <li>
                <a>Administration</a>
            </li>
            <li>
                <a>AgenceAvancesurCommission</a>
            </li>
            <li class="active">
                <strong>Détails AgenceAvancesurCommission</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content"> 
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <textarea class="form-control" name="Description"> @Model.Description </textarea>
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.A_DateDebutAvanceCom, "Choisir la marge du calcul ", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="input-daterange input-group" id="datepicker">
                                
                                @Html.TextBoxFor(x => x.A_DateDebutAvanceCom, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                                <span class="input-group-addon">au </span>
                                @Html.TextBoxFor(x => x.A_DateFinAvanceCom, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Etat, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.Etat, new { htmlAttributes = new { @class = "control-control i-check checkbox checkbox-success iCheck" } })
                            @Html.ValidationMessageFor(model => model.Etat, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Montant_Avance, "Montant de l'avance ", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="input-daterange input-group" id="datepicker">
                                @Html.EditorFor(model => model.Montant_Avance, new { @class = "form-control required" })
                                @Html.ValidationMessageFor(model => model.Montant_Avance, "", new { @class = "text-danger" })


                            </div>
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.cbMarq)
                    <div class="form-group">
                        <label class="col-md-2 control-label">Liste des agences bénéficiant de cette règle </label>
                            <span class="col-md-10">
                                <select data-placeholder="Choisir régions..." class="chosen-select" multiple style="width:350px;" tabindex="4" name="ListeAGENCEDATEAVANCECOM">
                                    @foreach (var item in Model.ListeAGENCEDATEAVANCECOM)
                                    {
                                        <option name="ModeReglementList" selected="@item.Selected" value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </span>
                    </div>
                    <div class="form-group">
                            <input type="submit" value="Modifier" class="btn btn-purplebee btn-block" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script src="~/js/jquery-3.1.1.min.js"></script>
<!-- Chosen -->
<script src="~/js/plugins/chosen/chosen.jquery.js"></script>
<!-- JSKnob -->
<script src="~/js/plugins/jsKnob/jquery.knob.js"></script>
<!-- Input Mask-->
<script src="~/js/plugins/jasny/jasny-bootstrap.min.js"></script>
<!-- iCheck -->
<script src="~/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(function () {
        $('.chosen-select').chosen({ width: "100%" });
    });
</script>