@model BeeProj.Models.P_MOTIF
@{
    ViewBag.Title = "Motif";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
<!-- Toastr style -->
<link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<!-- Toastr style -->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
<link href="~/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="~/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Motifs</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index-2.html">Accueil</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Administration")">Administration</a>
            </li>
            <li class="active">
                <strong>Liste Motif</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    @if (TempData["MSG"] != null)
    {
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close " data-dismiss="alert"> × </button>
            <p class="text-danger">@TempData["MSG"]</p>
        </div>

    }
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Liste des motifs</h5>
                    <div class="project-actions">

                        <a href=@Url.Action("Nouveau_Motif", "Administration") class="btn btn-sm btn-outline bg-purplebee" target="_blank">
                            <i class="fa fa-plus "></i> Nouvelle demande
                        </a>

                    </div>
                </div>
            </div>
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"> Motif annulation</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2">Motif résiliation</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3">Motif annulation proformat</a></li>

                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">


                            <table class="table table-striped table-bordered table-responsive table-hover dataTables-example " id="ListeFacturesVersee">

                                <thead>
                                    <tr>
                                        <th hidden>Id</th>
                                        <th>Motif</th>
                                        <th>Création</th>
                                        <th>Date modification</th>
                                        <th>Statut </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.motifanuu)
                                    {

                                    <tr>
                                        <td id="cbMarq" name="cbMarq" value="@item.cbMarq" hidden>@item.cbMarq</td>
                                        <td>@item.Motif</td>
                                        <td>@item.cbcreateur</td>
                                        <td>@item.cbmodification</td>
                                        <td>
                                            @if (item.Actif)
                                            {
                                                <i class="fa fa-circle text-danger" title="Motif désactivé"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-check-circle text-greenbee" title="Motif Activé"></i>
                                            }
                                        </td>
                                        <td>
                                            <a href=@Url.Action("Modifier_Motif/" + item.cbMarq, "Administration")
                                               class="btn btn-sm btn-outline btn-purplebee " title="Modifier">
                                                <i class="fa fa-edit "></i>
                                            </a>
                                            @*<a class="btn btn-sm btn-outline  btn-danger SupprimerMotif" title="Supprimer">
                <i class="fa fa-trash"></i>
            </a>*@
                                            <a title="Supprimer" class="btn btn-outline btn-danger  ladda-button SupprimerMotif">

                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>

                                    </tr>
                                    }

                                </tbody>
                            </table>


                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">


                            <table class="table table-striped table-bordered table-hover dataTables-example" id="ListeFacturesVersee">

                                <thead>
                                    <tr>
                                        <th>Motif</th>
                                        <th>Création</th>
                                        <th>Date modification</th>
                                        <th>Statut </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item2 in ViewBag.motifresi)
                                    {

                                    <tr>
                                        <td id="cbMarq" name="cbMarq" value="@item2.cbMarq" hidden>@item2.cbMarq</td>
                                        <td>@item2.Motif</td>
                                        <td>@item2.cbcreateur</td>
                                        <td>@item2.cbmodification</td>
                                        <td>
                                            @if (item2.Actif)
                                            {
                                                <i class="fa fa-circle text-danger" title="Motif désactivé"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-check-circle text-greenbee" title="Motif Activé"></i>
                                            }
                                        </td>
                                        <td>
                                            <a href=@Url.Action("Modifier_Motif/" + item2.cbMarq, "Administration") class="btn btn-sm btn-outline btn-purplebee ">
                                                <i class="fa fa-edit "></i> Modifier
                                            </a>
                                            <a title="Supprimer" class="btn btn-outline btn-danger  ladda-button SupprimerMotif">

                                                <i class="fa fa-trash"></i>
                                            </a>

                                        </td>

                                    </tr>
                                    }

                                </tbody>
                            </table>


                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">


                            <table class="table table-striped table-bordered table-hover dataTables-example" id="ListeFacturesVersee">

                                <thead>
                                    <tr>
                                        <th>Motif</th>
                                        <th>Création</th>
                                        <th>Date modification</th>
                                        <th>Statut </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item3 in ViewBag.motifAnnulationProformat)
                                    {

                                        <tr>
                                            <td id="cbMarq" name="cbMarq" value="@item3.cbMarq" hidden>@item3.cbMarq</td>
                                            <td>@item3.Motif</td>
                                            <td>@item3.cbcreateur</td>
                                            <td>@item3.cbmodification</td>
                                            <td>
                                                @if (item3.Actif)
                                                {
                                                    <i class="fa fa-circle text-danger" title="Motif désactivé"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-check-circle text-greenbee" title="Motif Activé"></i>
                                                }
                                            </td>
                                            <td>
                                                <a href=@Url.Action("Modifier_Motif/" + item3.cbMarq, "Motif") class="btn btn-sm btn-outline btn-purplebee ">
                                                    <i class="fa fa-edit "></i> Modifier
                                                </a>
                                                <a title="Supprimer" class="btn btn-outline btn-danger  ladda-button SupprimerMotif">

                                                    <i class="fa fa-trash"></i>
                                                </a>

                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                <h3 class="modal-title">Vous vouler vraiment supprimer cette motif ?</h3>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger  ladda-button" id="supprimer">Supprimer</button>
            </div>
        </div>
    </div>
</div>
<!-- Toastr script -->
<script src="~/js/plugins/toastr/toastr.min.js"></script>
<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/js/plugins/pace/pace.min.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/js/plugins/chosen/chosen.jquery.js"></script>
<script src="~/js/plugins/dataTables/datatables.min.js"></script>

<!-- Chosen -->
<script src="~/js/plugins/chosen/chosen.jquery.js"></script>
<script src="~/js/plugins/codemirror/codemirror.js"></script>
<script src="~/js/plugins/codemirror/mode/xml/xml.js"></script>
<script src="~/js/plugins/jasny/jasny-bootstrap.min.js"></script>

<!-- Sweet alert -->
<script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    $('.SupprimerMotif').click(function () {
            var tr = $(this).closest('tr');
            var value = tr.find('td:eq(0)').html();
      //  alert(value);
        swal({
            title: "Supprimer Motif ?",
            text: " ",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Oui, Supprimer",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                type: "get",
                url: "/Administration/Supprimer_Motif?cbMarq=" + value ,
                dataType: "json",
                success: function (result) {
                    if (result.result == "1") {
                        swal("Supprimer!", "Suppression motif avec succès! ", "success");
                        swal({
                            title: " Supprimer",
                            text: "Suppression motif avec succès ",
                            type: "success",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Oui",
                            closeOnConfirm: false,
                            showCancelButton: false,
                        }, function () {
                            
                            swal("Suppression motif ", " ", "success");

                            location.reload();


                        });
                    }
                    else {

                        swal("Supprimer!", "Impossible de supprimer,le motif est lie   :)", "error");
                        // location.reload();
                    }


                }
            });
        });
    });
    $(function () {
        $('.dataTables-example').DataTable({
            pageLength: 15,
            "order": [[1, "desc"]],
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy' },
                { extend: 'csv' },
                { extend: 'excel', title: 'ExampleFile' },
                { extend: 'pdf', title: 'ExampleFile' },

                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '100px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });

    });
    //function SupprimerMotif(cbMarq) {

    //    $('#delete').modal();

    //    $("#supprimer").click(function () {
    //        $.ajax({
    //            type: "Post",
    //            url: "/Administration/Supprimer_Motif?cbMarq=" + cbMarq,
    //            success: function (res) {
    //                if (res.Result == 1) {

    //                    toastr.error(msg.res, 'Erreur');
    //                    alert(test);

    //                } else {

    //                    toastr.success(msg.msg, 'Success');
    //                    location.reload(true);

    //                }
    //            }
    //        });


    //    });
    //}

    // Bind normal buttons
    Ladda.bind('.ladda-button', { timeout: 100000 });
    // Bind progress buttons and simulate loading progress
    Ladda.bind('.progress-demo .ladda-button', {
        callback: function (instance) {
            var progress = 0;
            var interval = setInterval(function () {
                progress = Math.min(progress + Math.random() * 0.1, 1);
                instance.setProgress(progress);

                if (progress === 1) {
                    instance.stop();
                    clearInterval(interval);
                }
            }, 100000);
        }
    });

    var l = Ladda.bind('.ladda-button-demo');

    l.click(function () {
        // Start loading
        l.ladda('start');

        // Timeout example
        // Do something in backend and then stop ladda
        setTimeout(function () {
            l.ladda('stop');
        }, 1000000)
    });

    $('.SupprimerMotif').click(function () {
        swal({
            title: "Générer Bon rendu ?",
            text: " ",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Oui, Générer",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                type: "get",
                url: "/Administration/Supprimer_Motif?cbMarq=" + 3,
                dataType: "json",
                success: function (result) {
                    if (result.result == "1") {
                        swal("Générer!", "Bon rendu générer  avec succès! ", "success");
                        swal({
                            title: "Imprimer ",
                            text: "impression contre reçu ",
                            type: "success",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            // confirmButtonText: "Oui",
                            closeOnConfirm: false,
                            showCancelButton: false,
                        }, function () {
                            //**************************
                            //   window.open('/DocumentsAbonnements/ContreRecu' + result.msg + '.pdf', '_blank');
                            swal("Bon rendu générée", " ", "success");
                            location.reload();
                        });
                    }
                    else {

                        swal("Générer!", "une erreur c produit  :)", "error");
                        location.reload();
                    }


                }
            });
        });
    });
 //   $(".SupprimerMotif").click(function () {
 //       alert("gfdgdfgd");
 //       var cbMarq = 0;
 //       $('#cbMarq').find('input[type="checkbox"]:checked').each(function () {
 //           var tr = $(this).closest('tr');
 //           var value = tr.find('td:eq(0)').html();
 //           alert(value);
 //           cbMarq.push(value);
 //       });

 //       $("#delete").modal();

 //       $("#supprimer").click(function () {
 //           $.ajax({
 //               type: "get",
 //               url: "/Administration/Supprimer_Motif?cbMarq=" + cbMarq,
 //                dataType: 'json',
 //               success: function (msg) {
 //                   if (msg.msg == 0) {
 //                       //print reçu
 //                       toastr.success('La facture a été payée avec succès ! ', 'Succes');
 //                       swal({
 //                           title: "Imprimer ",
 //                           text: "impression du reçu ",
 //                           type: "success",
 //                           showCancelButton: true,
 //                           confirmButtonColor: "#DD6B55",
 //                           confirmButtonText: "Oui",
 //                           closeOnConfirm: false,
 //                           showCancelButton: false,
 //                       }, function () {
 //                           $('#delete').modal('hide');
 //                           location.reload();
 //                       });
 //                   }
 //                   else {
 //                       toastr.error(msg.result, 'Erreur');
 //                   }
 //               }

 //           });

 //alert(msg);
 //           });


 //       });
</script>

