@model BeeProj.Models.SoucheNumerotation

@{
    ViewBag.Title = "Souches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Souches et numérotation</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Acceuil</a>
            </li>
            <li>
                <a>Souches et numérotation</a>
            </li>
            <li class="active">
                <strong>Nouvelle Souches</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">

            <div class="ibox float-e-margins">

                <div class="ibox-content" >
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label class="control-label">Intitulé de souche</label>
                            <input type="text" id="S_IntituleNew" name="S_IntituleNew" placeholder="Intitulé de souche" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Abrégé de souche</label>
                            <input type="text" id="abregeSouche" name="abregeSouche" placeholder="Intitulé de souche" class="form-control" maxlength="3" min="3">
                        </div>
                       
                        <button type="button" class="btn btn-xs btn-primary" id="generernums">Générer les numérotation</button>
                    </form>
                </div>
            </div>

             
            @for (int i = 0; i < ViewBag.ListeTypeDoc.Count - 4; i++)
            {
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">@ViewBag.ListeTypeDoc[i].D_Intitule</label>
                        <input type="text" id="TypeDocument_@ViewBag.ListeTypeDoc[i].cbIndice"
                               name="TypeDocument_@ViewBag.ListeTypeDoc[i].cbIndice"
                               value="-@ViewBag.ListeTypeDoc[i].T_Abrege-0001"
                               placeholder="Doc-Doc-0001"
                               class="form-control" disabled="disabled">
                    </div>
                </div>
            }
            
            
            <button type="button" class="btn btn-primary btn-rounded btn-sm" id="CreateSouche">Enregistrer</button>
        </div>
       




    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content" style="width: 100%;overflow-x: scroll;">

                    <table class="footable table table-stripped toggle-arrow-tiny table-responsive dataTables-example">
                        <thead>
                            <tr>

                                <th>Souche</th>
                                    @for (int i = 0; i < ViewBag.ListeTypeDoc.Count - 4; i++)
                                {
                                    <th data-hide="phone">@ViewBag.ListeTypeDoc[i].D_Intitule</th>
                                }
                              

                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in ViewBag.ListeSouches)
                            {

                           
                            <tr>
                                <td>
                                    @item.S_Intitule
                                </td>
                                @for (int i = 0; i < ViewBag.ListeTypeDoc.Count - 4; i++)
                                {
                                    <td>
                                        @foreach (var item2 in ViewBag.listeDocurrent)
                                        {
                                            if (item2.Id_Souche == item.cbMarq && item2.DC_Type == @ViewBag.ListeTypeDoc[i].D_Type && item2.D_Domaine == @ViewBag.ListeTypeDoc[i].D_Domaine)
                                            {
                                                @item2.DC_Piece

                                            }
                                        }
                                    </td>
                                }
                            </tr>


                            }
                     

</tbody>
                    
                    </table>
                
                </div>





</div>
</div>
</div>
</div>



<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/js/plugins/dataTables/datatables.min.js"></script>

<script>


    $('#generernums').click(function () {

        getnums($("#TypeDocument_1"));
        getnums($("#TypeDocument_2"));
        getnums($("#TypeDocument_3"));
        getnums($("#TypeDocument_4"));
        getnums($("#TypeDocument_5"));
        getnums($("#TypeDocument_6"));
        getnums($("#TypeDocument_7"));
        getnums($("#TypeDocument_8"));
        getnums($("#TypeDocument_9"));
        getnums($("#TypeDocument_10"));
        getnums($("#TypeDocument_11"));
        getnums($("#TypeDocument_12"));


    });


    function getnums(xxx) {

        var type1 = xxx.val();
        if (type1.length == 9) {
            xxx.val($('#abregeSouche').val() + type1);
        } else {
            //   type1 = type1.substring(3);
            var lastnine = type1.substr(type1.length - 9);
            xxx.val($('#abregeSouche').val() + lastnine);
        }
    }




    $('#CreateSouche').click(function () {
        if ($("#S_IntituleNew").val() == "") {
            alert("Le nom  de la souche ne peut pas être vide !");
        }
        else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreerSouche", "Agences")', // we are calling json method
               // url: '@Url.Action("CreerSouche")', 
                dataType: 'json',
                data: {
                    S_Intitule: $("#S_IntituleNew").val(),
                    Abrege: $("#abregeSouche").val(),
                    TypeDocument_1: $("#TypeDocument_1").val(),
                    TypeDocument_2: $("#TypeDocument_2").val()
                    , TypeDocument_3: $("#TypeDocument_3").val()
                    , TypeDocument_4: $("#TypeDocument_4").val()
                    , TypeDocument_5: $("#TypeDocument_5").val()
                    , TypeDocument_6: $("#TypeDocument_6").val()
                    , TypeDocument_7: $("#TypeDocument_7").val()
                    , TypeDocument_8: $("#TypeDocument_8").val()
                    , TypeDocument_9: $("#TypeDocument_9").val()
                    , TypeDocument_10: $("#TypeDocument_10").val()
                      , TypeDocument_11: $("#TypeDocument_11").val()
                      , TypeDocument_12: $("#TypeDocument_12").val()
                },


                success: function (data) {
                    if (data.result == 0) {
                        alert(data.msg);
                    }
                    else {

                        location.reload();


                    }

                }
            });
        }

    });


        $('.dataTables-example').DataTable({
            pageLength: 25,
           
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy' },
                { extend: 'csv' },
                { extend: 'excel', title: 'ExampleFile' },
                { extend: 'pdf', title: 'ExampleFile' },

                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                    }
                }
            ]

        });



</script>