@model BeeProj.Models.B_MConvention

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Details</h2>*@
<link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
<link href="~/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="~/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<!-- Ladda style -->
<link href="~/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">

<link href="~/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
<link href="~/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
<meta name='viewport' content='width=device-width, initial-scale=1'>
@*<script src='https://kit.fontawesome.com/a076d05399.js'></script>*@
<style>
    #ui-datepicker-div {
        font-size: 12px;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2 class="active">Détails modèle de convention</h2>
        <ol class="breadcrumb">
            <li>
                <a>Acceuil</a>
            </li>
            <li>
                <a>Détails Modèle de convention</a>
            </li>

        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row wrapper wrapper-content page-body">

    <div class="col-lg-12">
        <div class="ibox-content">
            <div class="row">

                @if ((ViewBag.AgenceUser != null))
                {
                    if (ViewBag.msg != null)
                    {
                        <div class="row">
                            <div class="alert alert-success alert-dismissable hidden" id="alertAppro">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                @ViewBag.msg

                            </div>
                        </div>


                    }

                    <div class="col-lg-12">
                        <input type="text" id="Conv_Type" name="Conv_Type" value=@Html.DisplayFor(model => model.Conv_Type) class="hidden">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">


                                        <div class="pull-right">
                                            <h5 class="text-purplebee">  Réf: # @Html.DisplayFor(model => model.Numdoc) </h5>
                                        </div>

                                    </div>
                                    <div class="ibox-content">


                                        <div class="row">

                                            <div class="row">
                                                <br />

                                                <div class="row form-group col-md-6">
                                                    <div class="col-md-12">

                                                        <label>Intitule convention<sup>*</sup></label>

                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-file"></i></span>
                                                            <input class="form-control" type="text" id="IntituleConvention" name="IntituleConvention" value="@Html.DisplayFor(model => model.Intitule)" readonly>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row form-group col-md-6">

                                                    <div class="col-md-12">
                                                        <label>Attachement </label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-eye"></i></span>
                                                            @if (ViewBag.ListFiles == null)
                                                            {
                                                                <p>Aucun attachement. </p>
                                                            }
                                                            else
                                                            {

                                                                <a class="form-control" href="@ViewBag.ListFiles.ModeleAttachement" target="_blank"><i class="text-primary"> Cliquez ici pour voir l'attacheemnt ...</i> </a>


                                                            }
                                                        </div>
                                                        
                                                        @*<div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                                       
                                                            <div class="form-control" data-trigger="fileinput">
                                                                <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                                <span class="fileinput-filename">@Html.DisplayFor(model => model.ModeleAttachement)</span>
                                                            </div>
                                                            <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-paperclip"></i>
                                                            </span>
                                                           

                                                        </div>*@



                                                    </div>

                                                </div>

                                                <div class="row form-group col-md-6">
                                                    <div class="col-md-12">

                                                        <label>Date debut<sup>*</sup></label>

                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            <input class="form-control" pattern="\d{1,2}/\d{1,2}/\d{4}" type="text" id="DateDebut" name="DateDebut" placeholder="jj/mm/aaaa" required value="@Html.DisplayFor(model => model.DateDebut)" readonly /> <br />

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row form-group col-md-6">
                                                    <div class="col-md-12">

                                                        <label>Date fin<sup>*</sup></label>

                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            <input class="form-control" pattern="\d{1,2}/\d{1,2}/\d{4}" type="text" id="DateFin" name="DateFin" placeholder="jj/mm/aaaa" required value="@Html.DisplayFor(model => model.DateFin)" readonly /> <br />

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row form-group col-md-6">
                                                    <div class="col-md-12">

                                                        <label>Etat convention<sup>*</sup> @*@Html.DisplayFor(model => model.Etat)*@</label>


                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-cogs"></i></span>
                                                            @if (Model.Etat == 0)
                                                            {
                                                                <input class="form-control" type="text" id="EtatConvention" name="EtatConvention" value="Active" readonly>
                                                             
                                                            }
                                                            else
                                                            {
                                                                <input class="form-control" type="text" id="EtatConvention" name="EtatConvention" value="Non active" readonly>
                                                               
                                                            }
                                                         
                                                        </div>
                                                    </div>

                                                </div>
                                                <br />
                                                <br />
                                                <div class="row form-group col-md-6">
                                                    <div class="col-md-12">

                                                        <label>Personne Morale<sup>*</sup></label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-university"></i></span>
                                                            @if (ViewBag.listeClient != null)
                                                            {

                                                                <select data-placeholder="Choisir..." class="chosen-select" multiple @*style="width:400px;height:45px"*@ style="width:350px;" tabindex="5" id="ListePersonnePhysique" name="ListePersonnePhysique" disabled>
                                                                    @foreach (var kk in ViewBag.listeClient)
                                                                    {
                                                                        <option value="@kk.CT_Num" selected>@kk.CT_Intitule</option>
                                                                    }
                                                                </select>
                                                            }
                                                            else
                                                            {
                                                                <select data-placeholder="Choisir..." class="chosen-select" multiple style="width:420px;height:35px" tabindex="5" id="ListePersonnePhysique" name="ListePersonnePhysique" disabled>
                                                                    @foreach (var kk in ViewBag.liste)
                                                                    {
                                                                        <option value=@kk.CT_Num>@kk.CT_Intitule</option>
                                                                    }
                                                                


                                                                </select>
                                                            }


                                                        </div>

                                                    </div>

                                                </div>
                                                <br />
                                                <br />




                                            </div>
                                            <br />

                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                  
                    <div class="form-group col-lg-12">

                        <table id="TableListeLignesProduit" class="table table-striped table-bordered table-hover TableListeLignesProduit">
                            <thead>
                                <tr>
                                    <th>Article</th>
                                    <th>Désignation</th>
                                    <th>Ancien Prix Unitaire TTC</th>
                                    <th>Ancien Prix unitaire HT</th>
                                    <th>Prix Convention HT</th>
                                    <th>Remise</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if(ViewBag.convligne!=null)
                                {
                                    foreach (var item in ViewBag.convligne)
                                    {
                                        <tr>
                                            <td>@item.AR_Ref</td>
                                            <td>@item.AR_Design</td>
                                            <td>@item.PrixAncien</td>
                                            <td>@item.PrixVenteAncien</td>
                                            <td>@item.PrixArticle</td>
                                            <td>@item.Remise</td>
                                        </tr>

                                    }
                                }
                               
                            </tbody>
                        </table>
                    </div>

                        <div class="modal-footer">


                            <a href=@Url.Action("Modifier/"+ @Html.DisplayFor(model => model.Cbmarq), "Convention") class="btn btn-purplebee">
                                <i class="fa fa-edit"></i> Modifier
                            </a>
                            <a href=@Url.Action("Index", "Convention") class="btn btn-default  pull-left" style="margin-right:1%">
                                <i class="fa fa-reply "></i> Retour
                            </a>



                        </div>

                }


            </div>
        </div>

    </div>


</div>



<script src="~/js/plugins/slick/slick.min.js"></script>
<script src="~/js/jquery-3.1.1.min.js"></script>

<script src="~/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="~/js/plugins/chosen/chosen.jquery.js"></script>
<!-- Jasny -->
<script src="~/js/plugins/jasny/jasny-bootstrap.min.js"></script>
<!-- DROPZONE -->
<script src="~/js/plugins/dropzone/dropzone.js"></script>
<!-- CodeMirror -->
<script src="~/js/plugins/codemirror/codemirror.js"></script>
<script src="~/js/plugins/codemirror/mode/xml/xml.js"></script>
<script src="~/js/plugins/jasny/jasny-bootstrap.min.js"></script>
<!-- iCheck -->
<script src="~/js/plugins/iCheck/icheck.min.js"></script>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script src="~/js/plugins/dataTables/datatables.min.js"></script>
<!-- Toastr script -->
<script src="~/js/plugins/toastr/toastr.min.js"></script>


<!-- Ladda -->
<script src="~/js/plugins/ladda/spin.min.js"></script>
<script src="~/js/plugins/ladda/ladda.min.js"></script>
<script src="~/js/plugins/ladda/ladda.jquery.min.js"></script>





<script>

    $('.chosen-select').chosen({ width: "100%" });

    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });



    });










    function isValidDate(s) {
        var bits = s.split('/');
        var d = new Date(bits[2] + '/' + bits[1] + '/' + bits[0]);
        return !!(d && (d.getMonth() + 1) == bits[1] && d.getDate() == Number(bits[0]));
    }



</script>

