@{
    ViewBag.Title = "ChangePasswordSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

   
    <div class="middle-box text-center lockscreen  " style="padding:0px;">
      
            <div class="m-b-md">
                <img src="@Url.Action("Photo", "Account" , new { UserId= ViewBag.userId })" class="img-circle circle-border m-b-md" alt="profile" />
            </div>
            <h3>@ViewBag.prenom  @ViewBag.Nom</h3>
            <p>Votre Mot de passe a été réinitialisé avec succés</p>
            <form class="m-t" role="form">
              
                @*<button type="button" class="btn btn-primary  full-width" onclick="@Url.Action("ShowProfile","Manage")">Aller au profil</button>*@
                <a href='@Url.Action("ShowProfile", "Manage")' class="btn btn-primary  full-width">Aller au profil</a>

            </form>
     
    </div>

    <!-- Mainly scripts -->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/bootstrap.min.js"></script>



