@model BeeProj.Models.DemandeMigrationModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dataTables_filter, .dataTables_info, .dataTables_length, .dataTables_paginate {
        display: none;
    }

    .dataTableMargin .ui-datatable-tablewrapper {
        overflow: hidden;
    }

    .table .table-bordered .table-striped {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .dataTables_scroll {
        overflow: auto;
    }


    table {
        table-layout: fixed;
        width: 98% !important;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Détails Demande</h2>
        <ol class="breadcrumb">

            <li>
                <a>Acceuil </a>
            </li>
            <li>
                <a>Gestion des demande</a>
            </li>

            <li class="active">
                <strong>Détails demande </strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-8">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
							@if (Request.IsAuthenticated && (User.IsInRole("Admin")|| User.IsInRole("AvancerMig")))
                            {
                                //if (ViewBag.MigRecep == true && Model.GD_Statut == 0)
                                //                            {
                                        <a href=@Url.Action("Modifier/"+Model.cbMarq, "Migration") class="btn bg-purplebee pull-right btn-outline">Traiter </a>
                                //}


                                //    else if (ViewBag.MigRep == true && Model.GD_Statut == 1)
                                //{
                                //        <a href=@Url.Action("Modifier/"+Model.cbMarq, "Migration") class="btn bg-purplebee pull-right btn-outline">Traiter </a>
                                //    }

                            }
                                 <h3>Référence #@Model.GD_Piece</h3>

                                    @if (ViewBag.dateval != null)
                                    {
                                        <small>Date Validation Technique: @ViewBag.dateval.ToString("dd/MM/yyyy") </small>
                                    }
                                    else
                                    {
                                        @*<small>Date Validation Technique: @ViewBag.dateval.ToString("dd/MM/yyyy") </small>*@
                                    }   
                                    <br />
                                    @if (Model.GD_Statut == 1)
                                    {
                                        <span class="label bg-purplebee"> En cours </span>

                                    }
                                    else if (Model.GD_Statut == 0)
                                    {
                                        <span class="label style1 bg-purplebee-light">Nouveau  </span>

                                    }

                                    else if (Model.GD_Statut == 3)
                                    {
                                        <span class="label bg-graybee">Annulée </span>

                                    }
                                    else if (Model.GD_Statut == 2)
                                    {
                                        <span class="label bg-greenbee">Validée </span>

                                    }

                                    @*TimeLine*@
                                <div class="m-b-md">

                                    @if (ViewBag.Abonnement != null)
                                    {
                                        if ((ViewBag.Abonnement.DO_Etape == 7 && ViewBag.Abonnement.DO_Etape != 8))
                                        {
                                            <a class="btn bg-primary btn-rounded pull-right" id="genererContrat" href="@Url.Action("VisualiserFacture", "GestionFactures", new { id = @ViewBag.DerniereFacture.cbMarq })" target="_blank" title="Imprimer facture"><i class="fa fa-print "></i> </a>
                                        }

                                        if ((ViewBag.Abonnement.DO_Etape > 4 && ViewBag.Abonnement.DO_Etape != 8))
                                        {
                                            <a class="btn bg-primary btn-rounded pull-right" id="imprimerContrat" href="@Url.Action("ImprimerContrat", "Abonnement", new { id = @ViewBag.Abonnement.cbMarq })" target="_blank" title="Imprimer Contrat "><i class="fa fa-vcard-o"></i></a>
                                        }

                                    }

                                </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="widget gray-bg p-xl">
                                    <ul class="list-unstyled m-t-md">
                                        <li>
                                            <span class="fa fa-shopping-cart m-r-xs"></span>
                                            <label>Ancien Service </label>
                                            <a href="@Url.Action("Details/"+ViewBag.AbonnementParent.cbMarq, "Abonnement")" target="_blank">@ViewBag.Ancien</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="widget lazur-bg p-xl">
                                    <ul class="list-unstyled m-t-md">
                                        <li>
                                            <span class="fa fa-shopping-cart m-r-xs"></span>
                                            <label>Service demandé </label>
                                            @ViewBag.Nouveau
                                        </li>
                                    </ul>

                                </div>
                            </div>


                        </div>
                        <div class="row m-t-sm">
                            <div class="col-lg-12">
                                <div class="panel blank-panel">
                                    <div class="panel-heading">
                                        <div class="panel-options">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#tab-1" data-toggle="tab">Généralité</a></li>
                                                <li class=""><a href="#tab-6" data-toggle="tab">Remarques</a></li>
                                                <li class=""><a href="#tab-4" data-toggle="tab">Documents</a></li>
                                                <li class=""><a href="#tab-5" data-toggle="tab">Commercial</a></li>
                                                <li class=""><a href="#tab-Suivi" data-toggle="tab">Suivi</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="panel-body">

                                        <div class="tab-content">
                                            <!-- Généralité-->

                                            <div class="tab-pane active " id="tab-1">
                                                <form method="get" class="form-horizontal">
                                                    <div class="ibox float-e-margins">
                                                        <div class="ibox-content">
                                                            <div class="row">
                                                                @if (ViewBag.Abonnement != null)
                                                                {
                                                                    if (User.IsInRole("Admin") && ViewBag.cbMarqNouvAbo != null)
                                                                    {
                                                                        <h3>
                                                                            Réf Abonnement: #
                                                                            <a class="btn btn-white "
                                                                               title="voir abonnement " href="/Abonnement/Details/@ViewBag.cbMarqNouvAbo" target="_blank">
                                                                                @ViewBag.Abonnement.DO_Piece
                                                                            </a>
                                                                        </h3>
                                                                    }
                                                                    else
                                                                    {
                                                                        <h3>Réf Abonnement: #@ViewBag.Abonnement.DO_Piece</h3>

                                                                    }

                                                                    <div class="form-group">
                                                                        <label class="col-sm-6 control-label">Demande de migration ajoutée par:</label>
                                                                        <div class="col-sm-6">
                                                                            @Html.DisplayFor(model => model.cbCreateur)
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-6 control-label">Agence:</label>
                                                                        <div class="col-sm-6">

                                                                            @ViewBag.Agence


                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        @*<div class="col-md-6">*@
                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">Intitulé</label>
                                                                            <div class="col-sm-10">
                                                                                <span class="help-block m-b-none">
                                                                                    <input class="form-control" disabled="disabled" id="CT_Intitule" name="CT_Intitule" value="@ViewBag.Abonnement.CT_Intitule" />
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        @*</div>*@

                                                                        @*<div class="col-md-6">*@
                                                                        <div class="form-group">
                                                                            <label class="col-sm-2 control-label">Identifiant </label>
                                                                            <div class="col-sm-10">
                                                                                <span class="help-block m-b-none">
                                                                                    <input class="form-control" disabled="disabled" id="CT_Identifiant" name="CT_Identifiant" value="@ViewBag.Abonnement.CT_Identifiant" />
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        @*</div>*@
                                                                    </div>



                                                                    <div class="form-group">
                                                                        <label class="col-sm-2 control-label">Adresse de facturation</label>
                                                                        <div class="col-sm-10">
                                                                            <span class="help-block m-b-none">
                                                                                <textarea class="form-control" disabled="disabled" id="CT_Adresse" name="CT_Adresse">@ViewBag.Adresses</textarea>
                                                                            </span>
                                                                        </div>
                                                                    </div>


                                                                    <div class="form-group">

                                                                        <label class="col-sm-2 control-label">Contact</label>
                                                                        <div class="col-sm-10">
                                                                            <span class="help-block m-b-none">
                                                                                <input class="form-control" disabled="disabled" id="CT_Contact" name="CT_Contact" value="@ViewBag.Abonnement.CT_Contact" />
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-4 control-label">Téléphone client</label>

                                                                                <div class="col-sm-8">
                                                                                    <span class="help-block m-b-none">
                                                                                        <input class="form-control" disabled="disabled" id="CT_Telephone" name="CT_Telephone" value="@ViewBag.Abonnement.CT_Telephone" />

                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-4 control-label">Téléphone de contact</label>

                                                                                <div class="col-sm-8">
                                                                                    <span class="help-block m-b-none">
                                                                                        <input class="form-control" disabled="disabled" id="CT_GSM" name="CT_GSM" value="@ViewBag.Abonnement.CT_GSM" />
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">

                                                                        <label class="col-sm-2 control-label">Adresse  </label>
                                                                        <div class="col-sm-10">
                                                                            <span class="help-block m-b-none">
                                                                                <textarea class="form-control" disabled="disabled" id="CT_AdresseAbo" name="CT_AdresseAbo" value="@ViewBag.Abonnement.CT_AdresseAbo"> @ViewBag.Abonnement.CT_AdresseAbo</textarea>

                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">

                                                                        <label class="col-sm-2 control-label">Adresse installation </label>
                                                                        <div class="col-sm-10">
                                                                            <span class="help-block m-b-none">
                                                                                <textarea class="form-control" disabled="disabled" id="AB_AdresseI" name="AB_AdresseI" value="@ViewBag.Abonnement.AB_AdresseI"> @ViewBag.Abonnement.AB_AdresseI</textarea>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-4 control-label">Ville</label>

                                                                                <div class="col-sm-8">
                                                                                    <span class="help-block m-b-none">
                                                                                        <input class="form-control" disabled="disabled" id="CT_Ville" name="CT_Ville" value="@ViewBag.Abonnement.CT_Ville" />

                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">

                                                                            <div class="form-group">
                                                                                <label class="col-sm-4 control-label">Code Postal</label>

                                                                                <div class="col-sm-8">
                                                                                    <span class="help-block m-b-none">
                                                                                        <input class="form-control" disabled="disabled" id="CT_CodePostal" name="CT_CodePostal" value="@ViewBag.Abonnement.CT_CodePostal" />
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>



                                                                    <div class="row">
                                                                        <div class="col-md-6">

                                                                            <div class="form-group">
                                                                                <label class="col-sm-4 control-label">Gouvernorat</label>

                                                                                <div class="col-sm-8">
                                                                                    <span class="help-block m-b-none">
                                                                                        <input Readonly="Readonly" class="form-control" id="CT_Ville" name="CT_Ville" type="text" value=@ViewBag.Abonnement.CT_Ville />
                                                                                    </span>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="col-md-6">

                                                                            <div class="form-group">
                                                                                <label class="col-sm-4 control-label">code Région</label>

                                                                                <div class="col-sm-8">
                                                                                    <span class="help-block m-b-none">
                                                                                        <input Readonly="Readonly" class="form-control" id="CT_CodeRegion" name="CT_CodeRegion" type="text" value=@ViewBag.Abonnement.CT_CodeRegion />
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-6">

                                                                            <div class="form-group">
                                                                                <label class="col-sm-4 control-label">Ancienne Réf</label>

                                                                                <div class="col-sm-8">
                                                                                    <span class="help-block m-b-none">
                                                                                        <input Readonly="Readonly" class="form-control" id="CT_CodeRegion" name="CT_CodeRegion" type="text" value=@ViewBag.ancienref />
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                }




                                                            </div>
                                                        </div>



                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Description </label>
                                                            <div class="col-sm-10">
                                                                <span class="help-block m-b-none">
                                                                    @Html.TextAreaFor(model => model.GD_Description, new { @class = "form-control", @Readonly = "Readonly" })
                                                                </span>
                                                            </div>
                                                        </div>


                                                    </div>


                                                </form>
                                            </div>
                                            <!-- FIN Généralité-->
                                            <!-- Remarques -->

                                            <div class="tab-pane" id="tab-6">
                                                <div class="row">
                                                    @if (ViewBag.ListRemarque.Count == 0)
                                                    {
                                                        <p><center> Aucune Remarque </center></p>
                                                    }
                                                    else
                                                    {
                                                        <div class="wrapper wrapper-content animated fadeInUp">
                                                            @foreach (var item in ViewBag.ListRemarque)
                                                            {
                                                                <ul class="notes ">
                                                                    <li>
                                                                        @if (@item.RQ_Sujet == "Nouvel Etat")
                                                                        {
                                                                            <div style="background:#ff9393 ">
                                                                                <small>@item.RQ_Date</small>
                                                                                <h4>@item.RQ_Sujet</h4>
                                                                                <p>@item.RQ_Description</p>
                                                                                @*<a href="#"><i class="fa fa-trash-o "></i></a>*@
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div style="background:#ffc ">
                                                                                <small>@item.RQ_Date</small>
                                                                                <h4>@item.RQ_Sujet</h4>
                                                                                <p>@item.RQ_Description</p>
                                                                                @*<a href="#"><i class="fa fa-trash-o "></i></a>*@
                                                                            </div>
                                                                        }
                                                                    </li>


                                                                </ul>

                                                            }
                                                        </div>
                                                    }
                                                </div>

                                            </div>




                                            <!-- Documents -->
                                            <div id="tab-4" class="tab-pane">
                                                <div class="panel-body full-height-scroll" style="overflow:scroll;height:inherit;width:inherit">

                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-stripped">
                                                            <thead>



                                                                <tr>
                                                                    <th></th>
                                                                    <th>
                                                                        Intitulé Document
                                                                    </th>


                                                                    <th> Description </th>
                                                                    <th>
                                                                        Ajouté par
                                                                    </th>
                                                                    <th>
                                                                        Date
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>


                                                                @foreach (var item in ViewBag.ListFiles)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <a href=@item.Path target="_blank"> Voir </a>
                                                                        </td>
                                                                        <td>
                                                                            @item.B_Intitule
                                                                        </td>
                                                                        <td>
                                                                            @item.B_Description

                                                                        </td>
                                                                        <td> @item.cbCreateur</td>
                                                                        <td> @item.cbModification</td>

                                                                    </tr>
                                                                }


                                                            </tbody>
                                                        </table>
                                                    </div>



                                                </div>
                                            </div>




                                            <!-- Commercial-->
                                            <!-- Commercial-->

                                            <div class="tab-pane" id="tab-5">
                                                <div class="tab-pane" id="tab-5">
                                                    <div>
                                                        <table class="table table-striped table-hover" id="facture">
                                                            <thead>
                                                                <tr>
                                                                    <th>Statut</th>
                                                                    <th>N° Pièce</th>
                                                                    <th>Date</th>
                                                                    <th>Montant TTC</th>
                                                                    <th>Période</th>
                                                                    <th>Visualiser</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>


                                                                @foreach (var item in ViewBag.commercial)
                                                                {
                                                                    <tr class="gradeX">


                                                                        @if (@item.DO_Statut == 1)
                                                                        {
                                                                            <td><i class="label bg-info ">Payé</i></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td><i class="label bg-warning">Non Payé</i></td>
                                                                        }
                                                                        <td>@item.DO_Piece</td>

                                                                        <td>@item.DO_Date.ToString("dd/MM/yyyy")</td>

                                                                        <td>@item.DO_totalTTC</td>
                                                                        @if (@item.DO_Provenance != 2)
                                                                        {

                                                                            <td>du @item.DO_DebutPeriod.ToString("dd/MM/yyyy")  au @item.DO_FinPeriod.ToString("dd/MM/yyyy")</td>
                                                                        }

                                                                        else
                                                                        {
                                                                            foreach (var periode in ViewBag.periodeavoir)
                                                                            {
                                                                                <td> @periode.DO_Date.ToString("dd/MM/yyyy")</td>
                                                                            }


                                                                        }

                                                                    <td>
                                                                        @if (@item.DO_Provenance != 2)
                                                                        {
                                                                            <a href="/GestionFactures/VisualiserFacture/@item.cbMarq" target="_blank" class="btn btn-outline btn-greenbee">
                                                                                <i class="fa fa-eye"> Visualiser </i>
                                                                            </a>
                                                                        }

                                                                        else
                                                                        {
                                                                            <a href="/GestionFactures/VisualiserFactureAvoir/@item.cbMarq" target="_blank" class="btn btn-outline btn-greenbee">
                                                                                <i class="fa fa-eye"> Visualiser </i>
                                                                            </a>
                                                                        }
                                                                    </td>

                                                                    </tr>
                                                                }


                                                            </tbody>
                                                        </table>

                                                        @*<table class="table table-striped table-hover" id="facture">
                                                                <thead>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th>Statut</th>
                                                                        <th>N° Pièce</th>
                                                                        <th>Date </th>
                                                                        <th>Montant TTC</th>
                                                                    </tr>
                                                                </thead>


                                                            </table>*@
                                                    </div>

                                                </div>

                                            </div>
                                            <!--Fin Commercial-->
                                            <!--Fin Commercial-->
                                            <div class="tab-pane" id="tab-Suivi">
                                                <div id="vertical-timeline" class="vertical-container" style="overflow: scroll; width: inherit; height: 500px;">


                                                    @foreach (var item in ViewBag.ListAction)
                                                    {

                                                        <div class="vertical-timeline-block bg-muted">


                                                            <div class="vertical-timeline-icon lazur-bg">
                                                                <i class="fa fa-dot-circle-o"></i>
                                                            </div>


                                                            <div class="vertical-timeline-content ">
                                                                <div class="stream-panel">
                                                                    <div class="stream-info">
                                                                        <a href="#">

                                                                            <span>@item.cbCreateur</span>
                                                                            <span class="date">@item.cbModification</span>
                                                                        </a>
                                                                    </div>

                                                                    @item.AC_Commentaire .
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }

                                                </div>

                                            </div>



                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        @*TimeLine*@

        @Html.Action("TimelineMigration", "Migration", new { id = Model.cbMarq })
        @*@if (ViewBag.Abonnement != null)
                {
                <div class="m-b-md">
                    @if ((ViewBag.Abonnement.DO_Etape >= 4) && (ViewBag.Abonnement.DO_Imprim != 1))
                    {
                        <a class="btn bg-primary btn-xs btn-rounded" id="genererContrat" href="@Url.Action("ImprimerFacture", "Abonnement", new { id = @ViewBag.Abonnement.cbMarq })" target="_blank">Imprimer facture </a>
                    }
                    else
                    {
                        <a class="btn bg-primary btn-xs btn-rounded disabled" id="genererContrat" href="@Url.Action("ImprimerFacture", "Abonnement", new { id = @ViewBag.Abonnement.cbMarq })" target="_blank">Générer facture </a>
                    }

                    @if ((ViewBag.Abonnement.DO_Etape >= 4) && (ViewBag.Abonnement.DO_Imprim != 1))
                    {
                        <a class="btn bg-primary btn-xs btn-rounded" id="imprimerContrat" href="@Url.Action("ImprimerContrat", "Abonnement", new { id = @ViewBag.Abonnement.cbMarq })" target="_blank">Imprimer Contrat </a>
                    }
                    else
                    {
                        <a class="btn bg-primary btn-xs btn-rounded disabled" id="imprimerContrat" href="@Url.Action("ImprimerContrat", "Abonnement", new { id = @ViewBag.Abonnement.cbMarq })" target="_blank">Imprimer Contrat </a>
                    }
                </div>

            }*@

    </div>



</div>


<!-- Mainly scripts -->
<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/js/plugins/dataTables/datatables.min.js"></script>

<script>


    function format(table_id) {
        return '<table id="table_id" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;" class="table  table-hover">' +
                '<thead>'+
                '<th></th>'+
                '<th></th>'+
                '<th></th>'+
                '<th></th>'+
                '</thead>'+
                '</table>';
    }


function sub_DataTable(vtask_id,table_id) {

    var subtable = $('#table_id').DataTable({
        "ajax": {
            "url": "/Migration/FactureLineJson?id="+vtask_id,
            "type": "get",
            "datatype": "json",
            "scrollX": false,
            "width": "98%"

        },

        "columns": [

                { "data": "AR_Ref" },
                { "data": "DL_Design" },
                { "data": "DL_Qte" },
            { "data": "DL_totalTTC" }



        ]
    });
}



$(document).ready(function () {
 @*var table = $("#facture").DataTable({
        "ajax": {
            "url": "/Migration/FactureJson?id=" + @Model.cbMarq,
            "type": "get",
            "datatype": "json",
            "scrollX": true,
            "scrollCollapse": false
        },
        "columns": [
                {
                    "className": "details-control",
                    "orderable":  false,
                    "data":       "cbMarq",
                    "defaultContent": ''
                },
                { "data": "DO_Statut" },
                { "data": "DO_Piece" },
                { "data": "DO_Date" },
            { "data": "DL_totalTTC" }
        ],
        "columnDefs": [
                {
                    targets: [0],
                    render: function (data, type, row) {
                        return '<i class="fa fa-plus-circle"></i>';

                    }

                },
                {
                    targets: [1],
                    render: function (data, type, row) {
                        if (data == 0) {
                            return '<i class="label bg-info ">' + 'Payé' + '</i>';
                        }
                        else if (data == 1) {return '<i class="label bg-warning">' + 'Non Payé' + '</i>';

                        }
                    }
                }
        ]
    });*@

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        // var target = $(e.target).attr("href"); // activated tab
        // alert (target);
        $($.fn.dataTable.tables(true)).css('width', '100%');
        $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();
    });

    //   Add event listener for opening and closing details
    $('#facture tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);

        var data = table.row($(this)).data();

        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            var virtual_task_id = data["cbMarq"];
            var subtable_id = "subtable-"+virtual_task_id;
            row.child(format(subtable_id)).show(); /* HERE I format the new table */
            tr.addClass('shown');
            sub_DataTable(virtual_task_id, subtable_id); /*HERE I was expecting to load data*/
        }
    });






});

</script>