
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>*@

<link href="~/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="~/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<!-- Toastr style -->
<link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="~/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">

<link href="~/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
<link href="~/css/plugins/datatables/datatables.min.css" rel="stylesheet" />


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Etat d'echange</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("index","Home")">Acceuil</a>
            </li>
            <li>
                <a href="@Url.Action("EtatEchange","Index")">Etat d'echange Sortie Stock</a>
            </li>
            <li class="active">
                <strong>échange</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">

                    @using (Html.BeginForm("Index", "EtatEchange", FormMethod.Post))
                    {
                        <label class="control-label">Recherche par numéro de téléphone,référence abonnement,ou bien code abonnement </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="rech" name="rech" value="@ViewBag.Rech"> <span class="input-group-btn">

                                <button type="submit" class="btn btn-purplebee ladda-button ladda-button-demo" onClick="Vide()">Rechercher</button>
                            </span>
                        </div>

                    }
                </div>
            </div>
        </div>
        @if (ViewBag.msg != null || ViewBag.abligne != null)
        {
            <div class="col-lg-12">
                <div class="ibox-content">
                    <div class="row">
                        @if (ViewBag.msg != null)
                        {
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                @ViewBag.msg
                            </div>
                        }

                        @if (ViewBag.abligne != null)
                        {

                            <table class="table table-striped table-bordered table-hover  full-width dataTables-example2" id="EtatEchangeTable">
                                <thead>
                                    <tr>
                                        <th>Piéce</th>
                                        <th>RefTT</th>
                                        <th>Num série</th>
                                        <th>Matériel</th>
                                        <th>Type matériel disponible</th>
                                        <th >NS disponible</th>
                                        <th>Dep Retour</th>
                                        <th>Statut</th>
                                        <th>Action</th>
                                        <th>Transférer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.abligne)
                                    {
                                    <tr class="gradeX">
                                        <td>@item.DO_Piece</td>
                                        <td>@item.DO_Ref</td>
                                        <td>@item.LS_NoSerie</td>
                                        <td>@item.DL_Design</td>
                                        <td>
                                            <center>

                                                <select class="form-control chosen-select" id="TypeMat" name="TypeMat">
                                                    @foreach (var mat in ViewBag.TypeMatDispo)
                                                    {
                                                        
                                                                    <option class="font-bold text-greenbee" value="@mat.AR_Ref"> @mat.AR_Design </option>
                                                   }
                                                </select>

                                            </center>
                                        </td>

                                        <td>
                                            <center>

                                                                @*<select class="form-control chosen-select" id="matriel" name="matriel">
                                                            @foreach (var i in ViewBag.matdispo)
                                                            {
                                                                if (item.AR_Ref == i.AR_Ref)
                                                                {

                                                                    if (i.isReserved == 0)
                                                                    {
                                                                        <optgroup class="font-bold text-black-50" label="En stock">
                                                                            <option class="font-bold text-greenbee"> @i.ls_noserie </option>
                                                                        </optgroup>
                                                                    }
                                                                    if (i.isReserved == 1)
                                                                    {
                                                                        <optgroup class="font-bold text-black-50" label="Reservee">
                                                                            <option class="font-bold text-purplebee"> @i.ls_noserie </option>
                                                                        </optgroup>
                                                                    }
                                                                }
                                                            }
                                                                       </select>*@
                                                <div class="form-group" id="NumSerieDep">


                                                </div>
                                            </center>
                                        </td>
                                        <td>
                                            @if (ViewBag.ListOfAgences != null)
                                            {
                                                <select class="form-control chosen-select" name="A_CodeLivraison" id="A_CodeLivraison">

                                                    @foreach (var itemm in ViewBag.ListOfAgences)
                                                    {
                                                        <option value="@itemm.Value">@itemm.Text</option>

                                                    }
                                                </select>
                                            }


                                        </td>
                                        <td>

                                            @if (ViewBag.StatutLotSerie != null)
                                            {
                                                int i = 0;


                                                foreach (var item2 in ViewBag.StatutLotSerie)
                                                {


                                                    if (item.LS_NoSerie == item2.LS_NoSerie && item2.StatutArticle != null && i == 0)
                                                    {

                                                        if (ViewBag.ListOfStatutNS != null)
                                                        {

                                                            @*<input type="text" id="ValueOfNS" name="ValueOfNS" value="@item.LS_NoSerie" hidden />*@
                                                            <select class="form-control chosen-select" name="ListOfStatutNS" id="ListOfStatutNS">

                                                                @foreach (var item3 in ViewBag.ListOfStatutNS)
                                                                {

                                                                    if (item3.Intitule == item2.StatutArticle)
                                                                    {
                                                                        <option value="@item3.cbMarq" selected>@item3.Intitule</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@item3.cbMarq">@item3.Intitule</option>
                                                                    }


                                                                }
                                                            </select>

                                                            i = i + 1;

                                                        }
                                                    }
                                                }

                                                if (i == 0)
                                                {
                                                    if (ViewBag.ListOfStatutNS != null)
                                                    {

                                                        @*<input type="text" id="ValueOfNS" name="ValueOfNS" value="@item.LS_NoSerie" hidden />*@
                                                        <select class="form-control chosen-select" name="ListOfStatutNS" id="ListOfStatutNS">

                                                            @foreach (var item3 in ViewBag.ListOfStatutNS)
                                                            {

                                                                if (item3.isDefaut == true)
                                                                {
                                                                    <option value="@item3.cbMarq" selected>@item3.Intitule</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item3.cbMarq">@item3.Intitule</option>
                                                                }


                                                            }
                                                        </select>



                                                    }
                                                }



                                            }



                                        </td>

                                        <td><center><button type="button" class="btn btn-sm  btn-outline btn-greenbee  ladda-button ladda-button-demo" onclick="Modifier(this)" title="Modifier"><span class="glyphicon glyphicon-pencil" title="Modifier"></span>  </button></center></td>

                                        <td><center><button type="button" class="btn btn-sm  btn-outline btn-purplebee ladda-button ladda-button-demo" onclick="Changer(this)" title="Changer"><span class="glyphicon glyphicon-transfer" title="Changer"></span>  </button></center></td>


                                    </tr>

                                    }

                                </tbody>
                            </table>

                        }
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<!-- Toastr script -->
<script src="~/js/plugins/toastr/toastr.min.js"></script>


<script src="~/js/plugins/dataTables/datatables.min.js"></script>
<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="~/js/plugins/dataTables/datatables.min.js"></script>

<script src="~/js/accounting.js"></script>
<script src="~/js/accounting.min.js"></script>

<!-- Chosen -->
<script src="~/js/plugins/chosen/chosen.jquery.js"></script>
<!-- Sweet alert -->
<script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>
<!-- Ladda -->
<script src="~/js/plugins/ladda/spin.min.js"></script>
<script src="~/js/plugins/ladda/ladda.min.js"></script>
<script src="~/js/plugins/ladda/ladda.jquery.min.js"></script>

<script>

        $('.chosen-select').chosen({ width: "100%" });
            $(document).ready(function () {

                $('.dataTables-example').DataTable({
                    pageLength: 25,
                    responsive: true,
                    dom: '<"html5buttons"B>lTfgitp',

                });

                Ladda.bind('.ladda-button', { timeout: 2000 });

                // Bind progress buttons and simulate loading progress
                Ladda.bind('.progress-demo .ladda-button', {
                    callback: function (instance) {
                        var progress = 0;
                        var interval = setInterval(function () {
                            progress = Math.min(progress + Math.random() * 0.1, 1);
                            instance.setProgress(progress);

                            if (progress === 1) {
                                instance.stop();
                                clearInterval(interval);
                            }
                        }, 20000);
                    }
                });


                var l = Ladda.bind('.ladda-button-demo');

                l.click(function () {
                    // Start loading
                    l.ladda('start');

                    // Timeout example
                    // Do something in backend and then stop ladda
                    setTimeout(function () {
                        l.ladda('stop');
                    }, 12000)


                });

            });


            function Changer(button) {
                var depotSelected = $('#A_CodeLivraison').val();
                swal({
                    title: "Vous étés sur, vous voulez changer les numéros de série sélectionner !?",
                    text: "Attention !!!! Vous voulez confirmez cet échange ?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Oui, Changer!",
                    cancelButtonText: "Non, Annuler",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },

           function (isConfirm) {
             if (isConfirm) {
              //Determine the reference of the Row using the Button.
              var row = $(button).closest("tr");
              var idPiece = $("td", row).eq(0).html();
              var idNoSerie = $("td", row).eq(2).html();
              var idDesign = $("td", row).eq(3).html();

                 var slect = $('select[name^="nouvNumSerie"]', row).val();

              $.ajax({
                  type: "get",
                  url: '/EtatEchange/ChangerSortieStock?numPiece=' + idPiece + '&&ancienNumSerie=' + idNoSerie + '&&nouvNumSerie=' + slect+"&&depotSelected=" + $('#A_CodeLivraison').val(), // we are calling json method
                  dataType: 'json',
                  success: function (msg) {
                      if (msg.result == "Error") {
                          toastr.error('ce NS:° Nouv num serie; en stock mais reservée !', 'Error');

                      }
                      else {
                          toastr.success('Vous ne peut pas réaffecter aux méme abonnement! ', 'success');
                          location.reload();
                      }

                  }
              });

              swal("Changer!", "vous étes d'accord .", "success");

          } else {

              swal("Annuler", "Cet échanger est annuler :)", "error");
          }
      });

            };


            function Vide() {

                $('form input[type= text]').each(function () {
                    //If the field's empty
                    if ($(this).val() == '') {
                        //alert("viiiide");
                        toastr.error('Veuillez tapez un numéro de télephone  !', 'Erreur');
                    }
                });

            }

            function Alerte(){

                swal("Attention!!", "NS:° Nouv modem en stock mais reservée!", "error");

            };

            function Modifier(buttonn) {

                swal({
                    title: "Vous étés sur, vous voulez modifier le statut d numéros de série de l'abonnement !?",
                    text: "Attention !!!! Vous voulez confirmez cet modifition ?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Oui, Changer!",
                    cancelButtonText: "Non, Annuler",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },

          function (isConfirm) {
              if (isConfirm) {
                  //Determine the reference of the Row using the Button.
                  var row = $(buttonn).closest("tr");
                  var idPiece = $("td", row).eq(0).html();
                  var idNoSerie = $("td", row).eq(2).html();
                  //var idStatut = $("td", row).eq(3).html();

                  var slect = $('select[name^="ListOfStatutNS"]', row).val();

                  $.ajax({
                      type: "get",
                      url: '/Interne/ModifierStatutNS?NS=' + idNoSerie +'&&StatutS=' + slect, // we are calling json method
                      dataType: 'json',
                      success: function (msg) {
                          if(msg.msg=="0"){
                              location.reload();

                          }else{
                              toastr.error(msg.msg, 'Erreur !!');
                          }


                      }
                  });


              }
                    else {

                        swal("Annuler", "Cet modification est annulée :)", "error");
                    }
          });

            };

            $('.dataTables-example2').DataTable({
                pageLength: 15,
                "order": [[1, "desc"]],
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });



    $('#TypeMat').change(function () {
                getMat();

       });
            function getMat() {

                $.ajax({
                    type: "get",
                    url: '@Url.Action("ReservMat")', // we are calling json method
                    dataType: 'json',
                    data: { Ar_ref: $('#TypeMat').val()},
                    success: function (msg) {
                        if (msg.result == 0) {

                            //var Siege = msg.LLSeries[0].LS_NoSerie;
                            var data = [];
                            var data2 = [];
                            // var Rev = msg.LotSerieDepotLies[0].LS_NoSerie;
                            if (msg.ListeNumSerieEnStock != null) {
                                data = msg.ListeNumSerieEnStock
                            }
                            if (msg.ListeNumSerieReserve != null) {
                                data2 = msg.ListeNumSerieReserve
                            }
                            $("#NumSerieDep").empty();
                            $("#NumSerieDep").append(
                                '<div style ="width:250px">'+
                                ' <select class="form-control chosen-select" id="nouvNumSerie" name="nouvNumSerie">' +
                                '</select>' +
                                '</div>'
                            );

                          

                            $("#nouvNumSerie").append(
                                '<optgroup label="En stock" id="group1" >' +
                                '</optgroup>' +
                                '<optgroup label="Resevé"  id="group2" >' +
                                '</optgroup>'
                            );
                            if (data != null && data != 0) {
                                var len = msg.ListeNumSerieEnStock.length;
                                for (var i = 0; i < len; i++) {

                                    $("#group1").append("<option class='form-control  font-bold text-greenbee'  value='" + data[i].ls_noserie + "'>" + data[i].ls_noserie + "</option>");                               

                                }
                            }
                            if (data2 != null && data2 != 0) {
                                var len = msg.ListeNumSerieReserve.length;
                                for (var i = 0; i < len; i++) {

                                    $("#group2").append("<option class='form-control  font-bold text-greenbee'  value='" + data[i].ls_noserie + "'>" + data[i].ls_noserie + "</option>");

                                }
                            }
                            $(document).ready(function () {
                                $('.chosen-select').chosen({ width: "100%" });
                                $('#nouvNumSerie').addClass('chosen-select');
                                $("#nouvNumSerie").trigger("chosen:updated");
                                $('.chosen-select').chosen({ width: "100%" });
                            });
                        }
                    }
                });
         }
</script>

