
@{
    ViewBag.Title = "ListeFacturesImpayeeParDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/plugins/dataTables/datatables.min.css" rel="stylesheet" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Gestion des Factures</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("GestionFactures")">Gestion des Factures</a>
            </li>

            <li class="active">
                <strong>Liste factures impayées </strong>
            </li>
        </ol>
    </div>

</div>
<br />
<div class="ibox float-e-margins">
    @if (ViewBag.existepas != null)
            {
        <div class="ibox-title">
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                Pas de factures
            </div>
        </div>

    }
    @if (ViewBag.DateNull != null)
            {
        <div class="ibox-title">
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                @ViewBag.DateNull
            </div>
        </div>

    }


    <div class="ibox-title" style="height:80px;">

        @using (Html.BeginForm("ListeFacturesImpayeeParDate", "GestionFactures", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
            <label class="control-label">Choisir Date </label>
            <div class="input-group m-b">

                <input class="form-control" type="date" name="Datefacture" id="Datefacture" value="@ViewBag.pasdefacture">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-purplebee">Valider </button>
                </span>

            </div>
        }

    </div>
</div>


@if (ViewBag.fct != null)
{
    <div class="row">

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Liste des factures impayées </h5>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-striped table-bordered table-hover dataTables-example" id="listefacturesimpayees">
                                <thead>
                                    <tr>
                                        <th>Client</th>
                                        <th>Facture</th>
                                        <th>Telephone</th>
                                        <th>GSM</th>
                                        <th>Identifiant </th>
                                        <th>Ref TT </th>
                                        <th>Agence  </th>
                                        <th>Numéro Agence </th>
                                        <th>Periodicité</th>
                                        <th>Période </th>
                                        <th>Date</th>
                                        <th>Montant</th>
                                        @*<th>Solde Abonnement</th>*@
                                        <th>Email</th>

                                    </tr>
                                <tbody>
                                    @foreach (var item in ViewBag.fct)
                                    {
                                    <tr>
                                        <td>
                                            <span>@item.IntituleClient</span>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("VisualiserFacture","GestionFactures", new { id = item.cbMarq })" target="_blank">@item.Do_piece  </a>
                                        </td>
                                        <td>
                                            @item.Telephone
                                        </td>
                                        <td>
                                            @item.GSM
                                        </td>
                                        <td>


                                            <a href="@Url.Action("DetailsClient","InterrogeClient", new { id = item.cbMarqClient })" target="_blank">@item.CIN </a>

                                        </td>
                                        <td>@item.Reftt</td>
                                        <td>@item.agence</td>
                                        <td>@item.Contactagence</td>
                                        <td>@item.Periodicite</td>
                                        <td>
                                            du <strong>@item.DebutPeriode.ToString("dd/MM/yyyy")</strong>
                                            au <strong>@item.FinPeriode.ToString("dd/MM/yyyy")</strong>
                                        </td>
                                        <td>@item.Date.ToString("dd/MM/yyyy")</td>
                                        <td>@String.Format("{0:N3}", item.Montant) <b>DT</b></td>
                                        @*@if ((item.SoldeAbonnement) != null)
                                        {
                                            <td>@String.Format("{0:N3}", item.SoldeAbonnement) <b>DT</b></td>
                                        }
                                        else
                                        {
                                            <td>@String.Format("{0:N3}", 0) <b>DT</b></td>
                                        }*@
                                        <td>
                                            @item.Email
                                        </td>

                                    </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}




<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/js/plugins/pace/pace.min.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/js/plugins/chosen/chosen.jquery.js"></script>
<script src="~/js/plugins/dataTables/datatables.min.js"></script>
<!-- Sweet alert -->
<script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>
<!-- Chosen -->
<script src="~/js/plugins/chosen/chosen.jquery.js"></script>
<link href="~/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
<!-- Ladda -->
<script src="~/js/plugins/ladda/spin.min.js"></script>
<script src="~/js/plugins/ladda/ladda.min.js"></script>
<script src="~/js/plugins/ladda/ladda.jquery.min.js"></script>
<script>

    $(function () {
        $('#listefacturesimpayees').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy' },
                { extend: 'csv' },
                { extend: 'excel', title: 'ExampleFile' },
                { extend: 'pdf', title: 'ExampleFile' },
                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });


    });
</script>