@model BeeProj.Models.FilterFacturesModel
@{
    ViewBag.Title = "ListeFacturePayees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>ListeFacturePayees</h2>*@

<link href="~/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="~/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<!-- Toastr style -->
<link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="~/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
<!-- Ladda style -->
<link href="~/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Liste des Factures Payées</h2>
        <ol class="breadcrumb">
            <li>
                <a href=@Url.Action("Index","Home")>Acceuil</a>
            </li>
            <li>
                <a href=@Url.Action("ListeFacturePayees ", "GestionFactures")>Gestion des Factures PAYEES</a>
            </li>
            <li class="active">
                <strong>Liste des factures payées </strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="col-lg-4">
    <div class="widget style1 bg-greenbee ">
        <div class="row">
            <div class="col-xs-4">
                <i class="fa fa-circle-o-notch fa-5x"></i>
            </div>
            <div class="col-xs-8 text-right">
                <h3 class="font-bold"> Versements non échus </h3>
                <h2 class="font-bold">@ViewBag.NonEchus</h2>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="widget style1 bg-purplebee">
        <div class="row">
            <div class="col-xs-4">
                <i class="fa fa-mail-forward fa-5x"></i>
            </div>
            <div class="col-xs-8 text-right">
                <h3 class="font-bold "> Alerte Versement  </h3>
                <h2 class="font-bold">@ViewBag.Alerte</h2>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="widget style1 bg-graybee">
        <div class="row">
            <div class="col-xs-4">
                <i class="fa fa-window-close fa-5x"></i>
            </div>
            <div class="col-xs-8 text-right">
                <h3 class="font-bold"> Non commissionnées </h3>
                <h2 class="font-bold">@ViewBag.nonComm</h2>

            </div>
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="height:100px;">
                    <span class="text-warning">
                        Du <strong>@Model.StartDate.GetValueOrDefault().ToString("dd/MM/yyyy")</strong>
                        au <strong>@Model.EndDate.GetValueOrDefault().ToString("dd/MM/yyyy")</strong>
                    </span>
                    <br />

                    @using (Html.BeginForm("ListeFacturePayees", "GestionFactures", FormMethod.Post))
                    {
                        <div class="col-md-4">
                            <label class="control-label" for="">Filtrer par date </label>
                            <div class="input-daterange input-group" id="datepicker">
                                @Html.TextBoxFor(model => model.StartDate, new { type = "date", @class = "form-control" })
                                <span class="input-group-addon">au </span>
                                @Html.TextBoxFor(model => model.EndDate, new { type = "date", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                                <br />
                                <button type="submit" class="btn btn-purplebee btn-rounded btn-outline">Filtrer </button>
                            </div>

                        </div>
                    }

                    @*<div class="col-sm-2">
                        <a class="btn btn-success  btn-xs text-white btn-purplebee pull-right" href=@Url.Action("InterrogationListeFactures", "GestionFactures")><i class="fa fa-file-excel-o"> </i> Exporter la liste des Factures</a>
                    </div>*@
                </div>

                <div class="ibox-content">
                    <div class="panel-body">

                        @if (ViewBag.factureClientPAYES.Count == 0)
                        {
                            <p>Aucune facture  </p>
                        }
                        else
                        {


                            <table class="table table-striped table-bordered table-hover dataTables-example" id="ListePayees">
                                <thead>
                                    <tr>
                                        <th width="10px"> Statut Facture</th>
                                        <th data-toggle="true"> N° Facture</th>
                                        <th data-hide="phone">Montant Facture</th>
                                        <th data-toggle="true"> N° Règlement</th>
                                        <th width="10px"> Numéro Fixe</th>
                                        <th data-hide="all">Client</th>
                                        <th width="10px">Date Facture</th>
                                        <th data-hide="phone">Montant Règlement</th>
                                        <th width="10px"> Date Règlement</th>
                                        <th data-hide="phone">Utilisateur</th>
                                        <th>Agence</th>
                                        <th width="10px"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in ViewBag.factureClientPAYES)
                                    {
                                    <tr>


                                        <td>

                                            @if (item.DO_StatutFacture == 0)
                                            {
                                                <span class="label bg-purplebee">Non Payée</span>

                                            }
                                            @if (item.DO_StatutFacture == 1)
                                            {
                                                <span class="label bg-greenbee">Payée</span>

                                            }
                                        </td>
                                        @*<td>
            @if (item.DO_StatCommission == 0)
            {
                <span class="label bg-greenbee">Non échus</span>

            }
            @if (item.DO_StatCommission == 1)
            {
                <span class="label bg-purplebee">Alerte</span>

            }
            @if (item.DO_StatCommission == 2)
            {
                <span class="label bg-graybee">non commissionnées</span>

            }
        </td>*@
                                        <td>

                                            <a title="voir la facture" target="_blank" href="/GestionFactures/DetailsFacture/@item.cbMarqFacture"> @item.DO_Piece </a>
                                            <br />

                                        </td>
                                        <td>
                                            @String.Format("{0:N3}", item.DOMontantTTc)
                                        </td>
                                        <td>
                                            @item.RG_Piece
                                        </td>
                                        <td>
                                            @item.NumFixe
                                        </td>
                                        <td>
                                            @item.CT_Intitule
                                        </td>

                                        <td>
                                            @item.DO_Date.ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @String.Format("{0:N3}", item.DO_MontantTTC)

                                        </td>
                                        <td>
                                            @item.DateReglement.ToString("dd/MM/yyyy")

                                        </td>
                                        <td>@item.cbCreateur</td>


                                        <td>@item.A_Intitule</td>

                                        <td>

                                            <a class="btn btn-purplebee  btn-circle  btn-outline" title="voir la facture"
                                               href="@Url.Action("VisualiserFacture", "GestionFactures", new { id = item.cbMarqFacture })" target="_blank">
                                                <i title="Imprimer Facture " class="fa fa-print"></i>
                                            </a>
                                            <a class="btn btn-greenbee btn-circle btn-outline" title="voir le reçu de paiement "
                                               href="@Url.Action("ImpressionRecu", "GestionFactures", new { id = item.cbMarqReglement })" target="_blank">
                                                <i title="Imprimer Reçu " class="fa fa-print"></i>
                                            </a>
                                        </td>

                                    </tr>

                                    }


                            </table>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/js/plugins/pace/pace.min.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/js/plugins/chosen/chosen.jquery.js"></script>
<script src="~/js/plugins/dataTables/datatables.min.js"></script>
<!-- Sweet alert -->
<script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>
<!-- Toastr script -->
<script src="~/js/plugins/toastr/toastr.min.js"></script>
<!-- Ladda -->
<script src="~/js/plugins/ladda/spin.min.js"></script>
<script src="~/js/plugins/ladda/ladda.min.js"></script>
<script src="~/js/plugins/ladda/ladda.jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#ListePayees').DataTable({
            pageLength: 25,
            "order": [[8, "desc"]],
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy' },
                { extend: 'csv' },
                { extend: 'excel', title: 'ExampleFile' },
                { extend: 'pdf', title: 'ExampleFile' },

                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                    }
                }
            ]

        });

    });
</script>
