@model BeeProj.Models.B_FCABONNEMENT
@{
    ViewBag.Title = "ListeReglements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Liste d'avances</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Liste d'avances </strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Liste d'avance </h5>
                    @*<div class="project-actions">
                            <a href=@Url.Action("AjoutReglement", "Reglement" ) class="btn btn-sm btn-outline bg-purplebee" target="_blank">
                                <i class="fa fa-plus "></i> Nouvelle demande
                            </a>
                        </div>*@
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-striped table-bordered table-hover dataTables-example" id="ListeFacturesVersee">
                    <thead>
                        <tr>
                            <th>Statut</th>
                            <th>Numéro Réglement</th>
                            <th>Borderou de versement</th>
                            <th>Date</th>
                            <th>Intitule Client</th>
                            <th>Code Client</th>
                            <th>Reference Abonnement</th>
                            <th>Code Agence</th>
                            <th>Mode Réglement</th>
                            @*<th>Montant Commission</th>*@
                            <th> Montant TTC</th>
                            @*<th>Facture</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.reglement)
                        {

                            <tr>
                                <td class="project-status">

                                    @if (item.DO_Statut != 1)
                                    {
                                        <span class="label bg-greenbee">Versé</span>

                                    }

                                </td>
                                <td><a href="/GestionFactures/ImpressionRecu/@item.cbMarq" target="_blank">@item.DO_Piece</a></td>
                                <td>@item.DO_PieceVersement</td>
                                <td>@item.DO_Date.ToString("dd/MM/yyyy")</td>
                                <td>@item.CT_Intitule</td>
                                <td>@item.DO_Tiers</td>
                                <td><a href="/Abonnement/details/@ViewBag.Abonnement.cbMarq" target="_blank"> @item.AB_Abonnement</a></td>
                                <td>@item.A_Code</td>

                                <td>
                                    @if (@item.DO_ModeRegl == 2)
                                    {

                                        <i class="label bg-purplebee-light ">ESPECE</i>
                                    }
                                    else if (@item.DO_ModeRegl == 1)
                                    {

                                        <i class="label bg-purplebee"> CHEQUE </i>
                                    }
                                    else if (@item.DO_ModeRegl == 9)
                                    {

                                        <i class="label bg-purplebee"> CARTE BANCAIRE</i>
                                    }
                                    else if (@item.DO_ModeRegl == 4)
                                    {

                                        <i class="label bg-greenbee">VIREMENT BANCAIRE</i>
                                    }

                                </td>
                                @*<td>@item.DO_MontantCom</td>*@
                                <td>@item.DO_MontantTTC</td>
                                @*<td>@item.SG_CodeAbonnement</td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.1.1.min.js"></script>
<script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/js/plugins/pace/pace.min.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/js/plugins/chosen/chosen.jquery.js"></script>
<script src="~/js/plugins/dataTables/datatables.min.js"></script>
<script>
    $(function () {
        $('.dataTables-example').DataTable({
            pageLength: 15,
            "order": [[1, "desc"]],
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy' },
                { extend: 'csv' },
                { extend: 'excel', title: 'ExampleFile' },
                { extend: 'pdf', title: 'ExampleFile' },

                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '100px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                    }
                }
            ]

        });

    });

</script>