@model BeeProj.Models.B_DEMENAGEMENT

@{
    ViewBag.Title = "Détails demande demenagement ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <!-- Toastr style -->
<link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
<link href="~/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="~/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">

        <div class="col-lg-8">
            <h2>Détails Demande Transfert Ligne</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Accueil</a>
                </li>
                <li>
                    <a href="/">Liste des demandes de transfert ligne</a>
                </li>
                <li class="active">
                    <strong>Détails Demande Transfert Ligne</strong>
                </li>
            </ol>
        </div>
    </div>

<div class="row">
    <div class="col-lg-8">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <a href=@Url.Action("Modifier/" + Model.cbMarq, "TransfertLigne") class="btn btn-purplebee btn-xs pull-right">Modifier</a>
                                <h4>Transfert de ligne #@Model.TL_Piece</h4>
                                <a class="btn btn-purplebee  pull-right" href="@Url.Action("ImprimerDemande","TransfertLigne", new { id = @Model.cbMarq})" target="_blank">
                                    <i title="Imprimer Demande " class="fa fa-print"></i>
                                </a>
                                @if (ViewBag.Abonnements != null)
                                {
                                    if (ViewBag.Abonnements.TypeAbonnement == 5)
                                    {
                                        <h4>
                                            Référence abonnement
                                            <a href="/Abonnement/Details/@ViewBag.Abonnements.cbMarq" .pdf" target="_blank"> #@ViewBag.Abonnements.DO_Piece </a>
                                        </h4>
                                    }
                                }
                            </div>
                            <dl class="dl-horizontal">
                                <dt>Statut:</dt>
                                <dd>@if (@Model.TL_Statut == 0)
                                {

                                    <i class="label bg-purplebee-light">Nouveau</i>
                                }
                                else if (@Model.TL_Statut == 1)
                                {

                                    <i class="label bg-purplebee"> En cours</i>
                                }
                                else if (@Model.TL_Statut == 3)
                                {

                                    <i class="label bg-info">Validé</i>
                                }
                                else if (@Model.TL_Statut == 4)
                                {

                                    <i class="label bg-graybee-light">Annulé</i>
                                }</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <dl class="dl-horizontal">

                                <dt>Crée par:</dt>
                                <dd>@Model.cbCreateur</dd>
                                <dt>Agence:</dt>
                                <dd> @ViewBag.AgenceAbonnement </dd>
                                <dt>Client:</dt>
                                <dd>@ViewBag.InformationsAbonnement.DO_Contact </dd>
                                <dt>Description:</dt>
                                <dd class="project-people"> @Model.TL_Description</dd>
                                <dt>Fréquence de paiement</dt>
                                <dd>@ViewBag.InformationsAbonnement.AB_FrequenceFacture Mois</dd>
                                <br />
                                @if (ViewBag.HasFraisDemenage != null)
                                {
                                    <dt><strong> Frais demenagement</strong></dt>
                                    <dd>
                                        <span>
                                            <strong>@String.Format("{0:N3}", @ViewBag.HasFraisDemenage.DL_PrixUnitaire) <b>DT</b></strong>
                                        </span>
                                    </dd>
                                }
                            </dl>
                        </div>
                        <div class="col-lg-6" id="cluster_info">
                            <dl class="dl-horizontal">
                                <dt>Dernière modification:</dt>
                                <dd>@Model.cbModification.GetValueOrDefault().ToString("dd/MM/yyyy")</dd>
                                <dt>Crée le :</dt>
                                <dd> @Model.TL_Date.GetValueOrDefault().ToString("dd/MM/yyyy")</dd>
                                @if (Model.DateValidation != null)
                                {
                                    <dt>Date validation :</dt>
                                    <dd> @Model.DateValidation.GetValueOrDefault().ToString("dd/MM/yyyy") </dd>
                                }
                                <dt>Ref TT:</dt>
                                <dd> @Model.New_REFTT </dd>
                            </dl>
                        </div>
                        <div class="col-lg-12">

                            <div class="col-lg-6">
                                <div class="widget gray-bg p-xl">
                                    <ul class="list-unstyled m-t-md">
                                        <li>
                                            <span class="fa fa-shopping-cart m-r-xs"></span>
                                            <label>Ancien Service </label>
                                            @foreach (var item in ViewBag.ArtPACK)
                                            {
                                                if (item.AR_Type == 1)
                                                {
                                                   <span>
                                                        @item.AR_Ref : @item.DL_Design
                                                    </span>
                                                }
                                            }
                                        </li>
                                    </ul>
                                    <ul class="list-unstyled m-t-md">
                                        <li>
                                            <span class="fa fa-address-book"></span>
                                            <label>Ancien Adresse </label>
                                            <span>@ViewBag.Ancienadr</span>
                                            <br />
                                            <strong>Gouvernorat </strong>  @ViewBag.InfoadresseInst.LI_Gouvernorat <strong> Ville </strong>  @ViewBag.InfoadresseInst.LI_Ville 
                                            <br />
                                            <strong> Cite</strong>   @ViewBag.InfoadresseInst.LI_Localite <strong> Code Postal</strong> @ViewBag.InfoadresseInst.LI_CodePostal


                                        </li>
                                    </ul>
                                    <ul class="list-unstyled m-t-md">
                                        <li>
                                            <span class="fa fa-phone"></span>
                                            <label>Ancien Telephone </label>
                                            <span>
                                                @ViewBag.AncienTelephone
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="widget lazur-bg p-xl">
                                    <ul class="list-unstyled m-t-md">
                                        <li>
                                            <span class="fa fa-shopping-cart m-r-xs"></span>
                                            <label>Nouvel Service </label>
                                            @ViewBag.Ar_ref :  @Model.Offre
                                        </li>
                                    </ul>
                                    <ul class="list-unstyled m-t-md">
                                        <li>
                                            <span class="fa fa-address-book"></span>
                                            <label>Nouvelle Adresse </label>                                          
                                            @ViewBag.adresseInst.LI_Adresse 
                                            <br />
                                            <strong>Gouvernorat </strong>  @ViewBag.adresseInst.LI_Gouvernorat <strong> Ville </strong>  @ViewBag.adresseInst.LI_Ville          
                                            <br />                                      
                                            <strong> Cite</strong>   @ViewBag.adresseInst.LI_Localite <strong> Code Postal</strong>  @ViewBag.adresseInst.LI_CodePostal  
                                       
                                         </li>
                                    </ul>
                                    <ul class="list-unstyled m-t-md">
                                        <li>
                                            <span class="fa fa-phone"></span>
                                            <label>Nouvel Telephone </label>
                                            @Model.TL_Telephone
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>                 
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-lg-12">
                                <div class="panel blank-panel">
                                    <div class="panel-heading">
                                        <div class="panel-options">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#tab-1" data-toggle="tab">Informations générales</a></li>
                                                <li class=""><a href="#Mat" data-toggle="tab">Materiels</a></li>
                                                <li class=""><a href="#tab-factures" data-toggle="tab">Factures</a></li>
                                                <li class=""><a href="#tab-docs" data-toggle="tab">Documents </a></li>
                                                <li class=""><a href="#tab-remarque" data-toggle="tab">Remarques </a></li>
                                                <li class=""><a href="#tab-Suivi" data-toggle="tab">Activités </a></li>

                                            </ul>
                                        </div>
                                    </div>

                                    <div class="panel-body">

                                        <div class="tab-content">

                                            <!-- Généralité-->
                                            <div class="tab-pane active " id="tab-1">
                                                <form method="get" class="form-horizontal">

                                                    <div class="ibox float-e-margins">
                                                        <div class="ibox-content">

                                                            @foreach (var i in ViewBag.adresses)
                                                            {                                                                
                                                                <div class="row">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-2 control-label">Intitulé</label>
                                                                        <div class="col-sm-10">
                                                                            <span class="help-block m-b-none">
                                                                                <input class="form-control" disabled="disabled" id="CT_Intitule" name="CT_Intitule" value="@ViewBag.Clients.CT_Intitule" />
                                                                            </span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="col-sm-2 control-label">Identifiant </label>
                                                                        <div class="col-sm-10">
                                                                            <span class="help-block m-b-none">
                                                                                <input class="form-control" disabled="disabled" id="CT_Identifiant" name="CT_Identifiant" value="@ViewBag.Clients.CT_Identifiant" />
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                            <div class="row">
                                                                                    
                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-2 control-label">Téléphone de contact</label>

                                                                                        <div class="col-sm-10">
                                                                                            <span class="help-block m-b-none">
                                                                                                <input Readonly="Readonly" class="form-control" id="LI_Telephone" name="LI_Telephone" type="text" value=@i.LI_Telephone />
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                            </div>

                                                                            <div class="row">
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-2 control-label">Adresse Installation </label>
                                                                                    <div class="col-sm-10">
                                                                                        <span class="help-block m-b-none">
                                                                                            <input class="form-control" disabled="disabled" id="LI_Adresse" name="LI_Adresse" value="@i.LI_Adresse" />
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-2 control-label">Adresse Client </label>
                                                                                    <div class="col-sm-10">
                                                                                        <span class="help-block m-b-none">
                                                                                            @foreach (var ic in ViewBag.adressesClient)
                                                                                            {
                                                                                                <input class="form-control"  disabled="disabled" id="LI_AdresseClient" name="LI_AdresseClient" value="@ic.LI_Adresse" maxlength="34" />
                                                                                            }
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-2 control-label">Adresse Facturation </label>
                                                                                    <div class="col-sm-10">
                                                                                        <span class="help-block m-b-none">
                                                                                            @foreach (var ifact in ViewBag.adressesFact)
                                                                                            {
                                                                                                <input class="form-control"  disabled="disabled" id="LI_AdresseFact" name="LI_AdresseFact" value="@ifact.LI_Adresse" maxlength="34" />
                                                                                            }
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-2 control-label">Complément Adresse </label>
                                                                                    <div class="col-sm-10">
                                                                                        <span class="help-block m-b-none">
                                                                                            <input class="form-control" disabled="disabled" id="LI_Complement" name="LI_Complement" value="@i.LI_Complement" />
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-2 control-label">Ville</label>
                                                                                    <div class="col-sm-10">
                                                                                        <span class="help-block m-b-none">
                                                                                            <input class="form-control" disabled="disabled" id="LI_Ville" name="LI_Ville" value="@i.LI_Ville" />
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="form-group">
                                                                                    <label class="col-sm-2 control-label">Cité</label>
                                                                                    <div class="col-sm-10">
                                                                                        <span class="help-block m-b-none">
                                                                                            <input class="form-control" disabled="disabled" id="LI_Localite" name="LI_Localite" value="@i.LI_Localite" />
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                                <div class="row">                                                                               
                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-2 control-label">Code Postal</label>
                                                                                        <div class="col-sm-10">
                                                                                            <span class="help-block m-b-none">
                                                                                                <input Readonly="Readonly" class="form-control" id="CT_CodePostal" name="CT_CodePostal" type="text" value=@i.LI_CodePostal />
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-2 control-label">Gouvernorat</label>
                                                                                        <div class="col-sm-10">
                                                                                            <span class="help-block m-b-none">
                                                                                                <input class="form-control" disabled="disabled" id="LI_Gouvernorat" name="LI_Gouvernorat" value="@i.LI_Gouvernorat" />
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="col-sm-2 control-label">code Région</label>

                                                                                        <div class="col-sm-10">
                                                                                            <span class="help-block m-b-none">
                                                                                                <input Readonly="Readonly" class="form-control" id="CT_CodeRegion" name="CT_CodeRegion" type="text" value=@ViewBag.RegionClient />
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                }
                                                                            </div>
                                                </div>
                                                </form>
                                            </div>                                                        
                                                  <!-- Materiels-->                                                 
                                                        <div class="tab-pane" id="Mat">

                                                            @if (ViewBag.ArtPACKMat.Count == 0)
                                                            {
                                                                <p>Aucun Matériel réservé pour cet abonnement. </p>
                                                            }
                                                            else
                                                            {
                                                                <table class="table table-striped">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Référence Article</th>
                                                                            <th>Designation</th>
                                                                            <th>Numéro Série </th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var item in ViewBag.ArtPACKMat)
                                                                        {
                                                                            if (item.AR_Type == 0)
                                                                            {
                                                                                <tr>
                                                                                    <td>
                                                                                        <span class="label label-greenbee">
                                                                                            <i class="fa fa-shopping-cart"></i> @item.AR_Ref
                                                                                        </span>
                                                                                    </td>
                                                                                    <td>
                                                                                        @item.DL_Design
                                                                                    </td>

                                                                                    <td>
                                                                                        @item.LS_NoSerie
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            }
                                                        </div>
                                            <!-- Factures-->
                                                    <div class="tab-pane" id="tab-factures">
                                                        <div class="row" style="overflow:scroll;">
                                                            <div class="activity-stream full-height-scroll">
                                                                <table class="table table-striped table-bordered table-hover dataTables-example full-width" id="factclient">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Etat</th>
                                                                            <th>N° Facture</th>
                                                                            <th>Date </th>
                                                                            <th>Montant TTC</th>
                                                                            <th>Période </th>
                                                                            <th>Visualiser</th>
                                                                        </tr>
                                                                    </thead>
                                                                    @foreach (var item in ViewBag.ListeFacture)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @if (item.DO_Statut == 0)
                                                                                {
                                                                                    <i class="label bg-purplebee ">Non payée</i>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <i class="label bg-greenbee ">Payée</i>
                                                                                }
                                                                            </td>
                                                                            <td>
                                                                                <a title="voir la facture" target="_blank" href="/GestionFactures/DetailsFacture/@item.cbMarq"> @item.DO_Piece </a>
                                                                            </td>
                                                                            <td>
                                                                                @item.DO_Date.ToString("dd/MM/yyyy")
                                                                            </td>
                                                                            <td>
                                                                                @String.Format("{0:N3}", (decimal)(item.DO_totalTTC + (decimal)1.000))
                                                                            </td>
                                                                            <td>
                                                                                du @item.DO_DebutPeriod.ToString("dd/MM/yyyy")  au @item.DO_FinPeriod.ToString("dd/MM/yyyy")
                                                                            </td>
                                                                            <td>
                                                                               
                                                                                @if (@item.DO_Provenance != 2)
                                                                                {
                                                                                    <a href="/GestionFactures/VisualiserFacture/@item.cbMarq" target="_blank" class="btn btn-outline btn-greenbee">
                                                                                        <i class="fa fa-eye"> Visualiser </i>
                                                                                    </a>
                                                                                }

                                                                                else
                                                                                {
                                                                                    <a href="/GestionFactures/VisualiserFactureAvoir/@item.cbMarq" target="_blank" class="btn btn-outline btn-greenbee">
                                                                                        <i class="fa fa-eye"> Visualiser </i>
                                                                                    </a>
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </table>
                                                              </div>
                                                        </div>
                                                    </div>
                                                    <!-- suivis-->
                                                    <div class="tab-pane" id="tab-Suivi">
                                                        <div class="row" style="overflow:scroll;height:500px;">
                                                            <div class="activity-stream full-height-scroll">
                                                                <table class="table table-striped">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Statut</th>
                                                                            <th>Détails</th>
                                                                            <th>Date </th>
                                                                            <th>Utilisateur</th>
                                                                            <th>Notes</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var item in ViewBag.ListAction)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    @if (item.AC_Etat == 0)
                                                                                    {
                                                                                        <span class="label label-warning-light"><i class="fa fa-history"></i></span>

                                                                                    }
                                                                                    else if (item.AC_Etat == 1)
                                                                                   {
                                                                                        <span class="label label-primary"><i class="fa fa-history"></i></span>
                                                                                    }
                                                                                    else if (item.AC_Etat == 2)
                                                                                    {
                                                                                        <span class="label label-warning"><i class="fa fa-history"></i></span>
                                                                                    }
                                                                                    else if (item.AC_Etat == 3)
                                                                                    {
                                                                                        <span class="label label-success"><i class="fa fa-history"></i></span>
                                                                                    }
                                                                                    else if (item.AC_Etat == 4)
                                                                                    {
                                                                                        <span class="label label-danger"><i class="fa fa-history"></i></span>
                                                                                    }
                                                                                    else if (item.AC_Etat == 5)
                                                                                    {
                                                                                        <span class="label label-danger"><i class="fa fa-history"></i></span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <span class="label label-primary"><i class="fa fa-warning"></i></span>
                                                                                    }
                                                                                </td>
                                                                                <td>@item.AC_Commentaire </td>
                                                                                <td>@item.cbModification</td>
                                                                                <td>@item.cbCreateur</td>
                                                                                <td>
                                                                                    @item.AC_Notes
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*remarques*@
                                                    <div class="tab-pane" id="tab-remarque">
                                                        <div class="row">
                                                            @if (ViewBag.ListRemarque.Count == 0)

                                                            {
                                                                <p> Aucune Remarque </p>
                                                            }
                                                            else
                                                            {
                                                                <div class="wrapper wrapper-content animated fadeInUp">

                                                                    @foreach (var item in ViewBag.ListRemarque)
                                                                    {                                                                       
                                                                        <ul class="notes">
                                                                            <li>
                                                                                @if (@item.RQ_Sujet == "Nouvel Etat")
                                                                                {
                                                                                    <div style="background:#ff9393 ">
                                                                                        <small>@item.RQ_Date</small>
                                                                                        <h4>@item.RQ_Sujet</h4>
                                                                                        <p>@item.RQ_Description</p>
                                                                                    </div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div style="background:#ffc ">
                                                                                        <small>@item.RQ_Date</small>
                                                                                        <h4>@item.RQ_Sujet</h4>
                                                                                        <p>@item.RQ_Description</p>
                                                                                    </div>
                                                                                }
                                                                            </li>
                                                                        </ul>
                                                                    }
                                                                </div>
                                                            }
                                                        </div>
                                                        <button type="button" class="btn btn-warning btn-rounded  pull-right" data-toggle="modal" data-target="#NouvRemarque">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                    </div>
                                                    <!-- Documents -->
                                                    <div id="tab-docs" class="tab-pane">
                                                        <div class="row" style="overflow:scroll;height:500px;">
                                                            <div class="activity-stream full-height-scroll">
                                                                <button type="button" class="btn btn-warning btn-rounded  pull-right" data-toggle="modal" data-target="#AddDoc">
                                                                    <i class="fa fa-pencil"></i>
                                                                </button>
                                                                <div class="table-responsive">
                                                                    @if (ViewBag.ListFiles.Count == 0)
                                                                    {
                                                                        <p> Aucun fichier </p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <table class="table table-bordered table-stripped">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th></th>
                                                                                    <th>
                                                                                        Intitulé Document
                                                                                    </th>
                                                                                    <th> Description </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (ViewBag.ListFiles.Count == 0)
                                                                                {
                                                                                    <h3>Aucun attachement. </h3>                                                                          
                                                                                }
                                                                                else
                                                                                {
                                                                                    foreach (var item in ViewBag.ListFiles)
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                <a href="@item.Path" target="_blank"> Voir </a>
                                                                                            </td>
                                                                                            <td>
                                                                                                @item.B_Intitule
                                                                                            </td>
                                                                                            <td>
                                                                                                @item.B_Description
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                       </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        @Html.Action("TimelineTransfertLigne", "TransfertLigne", new { id = Model.cbMarq })
    </div>
</div>

<!-- Modal add new note -->
<div class="modal inmodal" id="NouvRemarque" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                <h4 class="modal-title">Nouvelle Note</h4>
            </div>
            <div class="modal-body">
                <fieldset class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Titre de la Note</label>
                        <div class="col-sm-8"><input type="text" class="form-control" required id="titreRemarque"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Description </label>
                        <div class="col-sm-8">

                            <textarea type="text" class="form-control" id="descRemarque"></textarea>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-warning" onclick="SaveRemarque(@Model.cbMarq)">Ajouter</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal add new Document   -->
<div class="modal inmodal" id="AddDoc" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Attacher Document </h4>
            </div>
            <div class="modal-body">
                <fieldset class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Intitulé  </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required id="titreDoc">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Description  </label>
                        <div class="col-sm-8">
                            <textarea type="text" class="form-control" required id="DescDoc"></textarea>
                        </div>
                    </div>

                    @*<input type="file" id="FileUpload1" />*@

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Attacher Fichier  </label>
                        <div class="col-sm-8">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">Selectionner un fichier </span>
                                    <span class="fileinput-exists">Changer</span>

                                    <input type="file" id="FileUpload1" accept="image/gif, image/jpeg">


                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                            </div>
                        </div>
                    </div>





                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-warning" onclick="SaveDocuments(@Model.cbMarq)">Ajouter</button>
            </div>
        </div>
    </div>
</div>



<!-- Toastr script -->
<script src="~/js/plugins/toastr/toastr.min.js"></script>
<script src="~/js/jquery-3.1.1.min.js"></script>
<!-- Chosen -->
<script src="~/js/plugins/chosen/chosen.jquery.js"></script>
<script src="~/js/plugins/codemirror/codemirror.js"></script>
<script src="~/js/plugins/codemirror/mode/xml/xml.js"></script>
<script src="~/js/plugins/jasny/jasny-bootstrap.min.js"></script>

<!-- Sweet alert -->
<script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>

<script>

    $(document).ready(function () {
        $('.chosen-select').chosen({ width: "100%" });
    });


     function SaveRemarque(cbm) {

        //alert(cbm);
        $.ajax({
            type: "get",
            url: "/TransfertLigne/SaveNote?OpId=" + cbm + "&&Sujet=" + $("#titreRemarque").val() + "&&Description=" + $("#descRemarque").val(),
            dataType: "json",
            success: function (msg) {

                window.location = "/TransfertLigne/Modifier/@Model.cbMarq";

            }
        });
    }
    function SaveDocuments(cbm) {
        /**************/
        var fileUpload = $("#FileUpload1").get(0);
        var files = fileUpload.files;

        // Create FormData object
        var fileData = new FormData();

        // Looping over all files and add it to FormData object
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }

        // Adding one more key to FormData object
        fileData.append('CRM', 'EasySales');


        $.ajax({
            type: "Post",
            url: "/Abonnement/SaveDocuments?cbm=" + cbm + "&&titreDoc=" + $("#titreDoc").val() + "&&DescDoc=" + $("#DescDoc").val(),
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: fileData,
            success: function (result) {
                location.reload(true);
            }
        });
    }


</script>